<a href="https://colab.research.google.com/github/Redcof/Agendect/blob/master/Advance_Telecom_Churn_Assgnment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Soumen : Jan-16-2022  : Basic setup 1hrs
# Soumen : Jan-17-2022  : Understainding problem statement 1hrs
# Soumen : Jan-19-2022 21:08-23:23 : understanding the problem and datatype fixing
# Soumen : Jan-20-2022 10:53-11:42 Understanding the problem statement
# Soumen : Jan-20-2022 22:50-00:42 Understanding the problem statement and missing value handeling
# Soumen : Jan-21-2022 10:30-12:52 Data processing for high value customer and google colab support

In [ ]:
# download training and testing data
import requests

def download_file_from_google_drive(url, destination):
    """Download form google drive"""
    id = url.split('/')[-2]

    URL = "https://docs.google.com/uc?export=download"

    session = requests.Session()

    print(f"Downloading...{url}")
    response = session.get(URL, params = { 'id' : id }, stream = True)
    token = get_confirm_token(response)

    if token:
        params = { 'id' : id, 'confirm' : token }
        response = session.get(URL, params = params, stream = True)

    if "Sign in to continue to Google Drive" in str(response.text):
        print("Please create a sharable link with 'Any one with the link' and 'Viewer' previledge.")
        print(f"Download failed-{url}")
        return
    save_response_content(response, destination)    

def get_confirm_token(response):
    """Drive authentication with token"""
    for key, value in response.cookies.items():
        if key.startswith('download_warning'):
            return value

    return None

def save_response_content(response, destination):
    """Save response data to a file"""
    CHUNK_SIZE = 32768

    with open(destination, "wb") as f:
        for chunk in response.iter_content(CHUNK_SIZE):
            if chunk: # filter out keep-alive new chunks
                f.write(chunk)
    print(f"Saved...{destination}")

In [3]:
# set it False if running locally
drive = True

if drive:
    urls = [
            ("https://drive.google.com/file/d/1As9_K9Fc-huoy9k6NJUFj0N7r8_FgAhY/view?usp=sharing", "telecom_churn_data.csv"), 
            ("https://docs.google.com/spreadsheets/d/1ArF93y3F1FYlv5YKH54TSM3EYmuT4CAz/edit?usp=sharing&ouid=110160683155830172199&rtpof=true&sd=true", "Data+Dictionary-+Telecom+Churn+Case+Study.xlsx"),
            ("https://drive.google.com/file/d/10ZiQvIjLzerzufRCV91ed76otx6x5ymQ/view?usp=sharing", "common.ipynb")
    ]
    for url, path in urls:
        download_file_from_google_drive(url, f"/content/{path}")

Downloading...https://drive.google.com/file/d/1As9_K9Fc-huoy9k6NJUFj0N7r8_FgAhY/view?usp=sharing
Saved.../content/telecom_churn_data.csv
Downloading...https://docs.google.com/spreadsheets/d/1ArF93y3F1FYlv5YKH54TSM3EYmuT4CAz/edit?usp=sharing&ouid=110160683155830172199&rtpof=true&sd=true
Saved.../content/Data+Dictionary-+Telecom+Churn+Case+Study.xlsx
Downloading...https://drive.google.com/file/d/10ZiQvIjLzerzufRCV91ed76otx6x5ymQ/view?usp=sharing
Saved.../content/common.ipynb

In [4]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [5]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", -1)

# Problem Statement

## Business problem overview

In the telecom industry, customers are able to choose from multiple service providers and actively switch from one operator to another. In this highly competitive market, the telecommunications industry experiences an average of 15-25% annual churn rate. Given the fact that it costs 5-10 times more to acquire a new customer than to retain an existing one, customer retention has now become even more important than customer acquisition.

For many incumbent operators, retaining high profitable customers is the number one business goal.
 
To reduce customer churn, telecom companies need to predict which customers are at high risk of churn.
 
In this project, you will analyse customer-level data of a leading telecom firm, build predictive models to identify customers at high risk of churn and identify the main indicators of churn.
 
## Understanding and defining churn
There are two main models of payment in the telecom industry - postpaid (customers pay a monthly/annual bill after using the services) and prepaid (customers pay/recharge with a certain amount in advance and then use the services).
 
In the postpaid model, when customers want to switch to another operator, they usually inform the existing operator to terminate the services, and you directly know that this is an instance of churn.
 
However, in the prepaid model, customers who want to switch to another network can simply stop using the services without any notice, and it is hard to know whether someone has actually churned or is simply not using the services temporarily (e.g. someone may be on a trip abroad for a month or two and then intend to resume using the services again).
 
Thus, churn prediction is usually more critical (and non-trivial) for prepaid customers, and the term ‘churn’ should be defined carefully.  Also, prepaid is the most common model in India and Southeast Asia, while postpaid is more common in Europe in North America.
 
This project is based on the Indian and Southeast Asian market.
 
## Definitions of churn

There are various ways to define churn, such as:

**Revenue-based churn:** Customers who have not utilized any revenue-generating facilities such as mobile internet, outgoing calls, SMS etc. over a given period of time. One could also use aggregate metrics such as ‘customers who have generated less than INR 4 per month in total/average/median revenue’.
 
The main shortcoming of this definition is that there are customers who only receive calls/SMSes from their wage-earning counterparts, i.e. they don’t generate revenue but use the services. For example, many users in rural areas only receive calls from their wage-earning siblings in urban areas.
 
**Usage-based churn:** Customers who have not done any usage, either incoming or outgoing - in terms of calls, internet etc. over a period of time.
 
A potential shortcoming of this definition is that when the customer has stopped using the services for a while, it may be too late to take any corrective actions to retain them. For e.g., if you define churn based on a <u>‘two-months zero usage’</u> period, predicting churn could be useless since by that time the customer would have already switched to another operator.
 
<font color="blue">**In this project, you will use the <u>usage-based definition</u> to define churn.**</font>
 
## High-value churn

In the Indian and the Southeast Asian market, approximately 80% of revenue comes from the top 20% customers (called high-value customers). Thus, if we can reduce churn of the high-value customers, we will be able to reduce significant revenue leakage.
 
In this project, you will define high-value customers based on a certain metric (mentioned later below) and predict churn only on high-value customers.
 
##  Understanding the business objective and the data
The dataset contains customer-level information for a span of four consecutive months - **June, July, August and September**. The months are **encoded** as **6, 7, 8 and 9**, respectively. 

<font color="tomato">The business objective is to **predict the churn in the last (i.e. the ninth) month using** the data (features) from the **first three months**. To do this task well, understanding the typical customer behavior during churn will be helpful.</font>
 
##  Understanding customer behavior during churn

Customers usually do not decide to switch to another competitor instantly, but rather over a period of time (this is especially applicable to high-value customers). In churn prediction, we assume that there are three phases of customer lifecycle :

1.	The **‘good’ phase:** In this phase, the customer is happy with the service and behaves as usual.
2.	The **‘action’ phase:** The customer experience starts to sore in this phase, for e.g. he/she gets a compelling offer from a  competitor, faces unjust charges, becomes unhappy with service quality etc. In this phase, the customer usually shows different behavior than the ‘good’ months. Also, it is crucial to identify high-churn-risk customers in this phase, since some corrective actions can be taken at this point (such as matching the competitor’s offer/improving the service quality etc.)
3.	The **‘churn’ phase:** In this phase, the customer is said to have churned. You define churn based on this phase. Also, it is important to note that at the time of prediction (i.e. the action months), this data is not available to you for prediction. Thus, after tagging churn as 1/0 based on this phase, you discard all data corresponding to this phase.
 
In this case, since you are working over a four-month window, the <u>first two months are the ‘good’ phase</u>, the <u>third month is the ‘action’ phase</u>, while the <u>fourth month is the ‘churn’ phase</u>.


##  Data Preparation
The following data preparation steps are crucial for this problem:
 
1. Derive new features
This is one of the most important parts of data preparation since good features are often the differentiators between good and bad models. Use your business understanding to derive features you think could be important indicators of churn.
 
2. Filter high-value customers
As mentioned above, you need to **predict churn only for the high-value customers**. Define **high-value customers as follows:** Those who have **recharged** with an **amount more than or equal to X, where X is the 70th percentile** of the average recharge amount in the **first two months** (the good phase).
 
After filtering the **high-value customers, you should get about 29.9k rows.**
 
3. Tag churners and remove attributes of the churn phase
Now tag the churned customers (churn=1, else 0) based on the fourth month as follows: Those who have not made any calls (either incoming or outgoing) AND have not used mobile internet even once in the churn phase. The attributes you need to use to tag churners are:

*	total_ic_mou_9
*	total_og_mou_9
*	vol_2g_mb_9
*	vol_3g_mb_9

After tagging churners, remove all the attributes corresponding to the churn phase (all attributes having ‘ _9’, etc. in their names).
 
##  Modelling

<font color="tomato">Build models to predict churn</font>. The predictive model that you’re going to build will serve two purposes:

1.	It will be used to predict whether a high-value customer will churn or not, in near future (i.e. churn phase). By knowing this, the company can take action steps such as providing special plans, discounts on recharge etc.
2.	It will be used to identify important variables that are strong predictors of churn. These variables may also indicate why customers choose to switch to other networks.
 
In some cases, both of the above-stated goals can be achieved by a single machine learning model. But here, you have a large number of attributes, and thus you should try using a dimensionality reduction technique such as PCA and then build a predictive model. After PCA, you can use any classification model.
 
Also, since the rate of churn is typically low (about 5-10%, this is called class-imbalance) - try using techniques to handle class imbalance. 
 
You can take the following suggestive steps to build the model:

1.	Preprocess data (convert columns to appropriate formats, handle **missing values**, etc.)
2.	Conduct appropriate **exploratory analysis** to extract useful insights (whether directly useful for business or for eventual modelling/feature engineering).
3.	Derive **new features**.
4.	Reduce the number of variables using **PCA**.
5.	Train a variety of models, tune model hyperparameters, etc. (**handle class imbalance** using appropriate techniques).
6.	Evaluate the models using appropriate evaluation metrics. Note that it is more important **to identify churners than the non-churners accurately** - choose an appropriate evaluation metric which reflects this business goal. (We need to reduce False-Negative reduce)
7.	Finally, choose a model based on some evaluation metric.
 
The above model will only be able to achieve one of the two goals - 

* to predict customers who will churn. You can’t use the above model 
* to identify the important features for churn. That’s because PCA usually creates components which are not easy to interpret.
 
Therefore, <font color="tomato">**build another model**</font> with the main objective of **identifying important predictor attributes** which help the business understand indicators of churn. A good choice to identify important variables is a logistic regression model or a model from the tree family. In case of logistic regression, make sure to handle multi-collinearity.
 
After identifying important predictors, display them visually - you can use plots, summary tables etc. - whatever you think best conveys the importance of features.
 
Finally, **recommend strategies to manage customer churn** based on your observations.
 
> Note: Everything has to be submitted in one Jupyter notebook.

<hr/>

**OUR UNDERSTANDING:**

> <br/>**\#. Problem Statement**<br/>
> - There are two types of customers:
>    1. Prepaid
>    1. Postpaid
> - We shall focus on `Prepaid` customers
> - There are mainly two types of churning for `Prepaid` customers:
>    1. Revenue-based churn
>    1. Usage-based churn
> - We have upto 20% `High-Value Customers`, who generates 80% revenue.
> - There are 3 phases of churning:
>    1. Good: month 6 and month 7
>    1. Action: month 8
>    1. Churn:  month 9
> - The data is not labled with `Churn:1` or `Not-Churn-0`
> - We need to identify `High-Value Customers` and protect them from `churning` based on `Usage-based churn` technique.
> - After identifying the high-value customers we should flag them as 0 or 1 based on past and current usages stastics
> - We will compare first two month data with 3rd month data and define churn/not-churn
>
> <br/>**\#. Identify High-Value Customers**<br/>
> We need to filter out `high value customers` with the given terms. For high-value customers, we should get about 29.9k rows.
>
> <br/>**\#. Tag Churn:1 or Not-Churn:0**<br/>
> Those who 
> 1. Have not made any calls (either incoming or outgoing): Features to use:  `total_ic_mou_9` & `total_og_mou_9`
> 1. have not used mobile internet even once in the churn phase. Features to use: `vol_2g_mb_9` & `vol_3g_mb_9`
> 
> <br/>**\#. Prohibited Features**<br/>
> We should not use features ended with `_9` or last month
>
> <br/>**\#. Tasks**<br/>
> 1. Build model-1 for prediction using PCA and choose any model to get higher performance as per the business need.
>    - Note: It is more important to identify churners than the non-churners accurately
> 1. Build model-2 to identify best features. No PCA. Only Linear model and Tree Based Models.
> 1. Recommend bussriness strategies

**Custom Functions**

In [6]:
%run ./common.ipynb

# Understaing the data

In [7]:
# load data dictionary
dd = pd.read_excel("Data+Dictionary-+Telecom+Churn+Case+Study.xlsx")
dd

,Acronyms,Descriptions
0,MOBILE_NUMBER,Customer phone number
1,CIRCLE_ID,Telecom circle area to which the customer belongs to
2,LOC,Local calls - within same telecom circle
3,STD,STD calls - outside the calling circle
4,IC,Incoming calls
5,OG,Outgoing calls
6,T2T,"Operator T to T, i.e. within same operator (mobile to mobile)"
7,T2M,Operator T to other operator mobile
8,T2O,Operator T to other operator fixed line
9,T2F,Operator T to fixed lines of T
10,T2C,Operator T to it’s own call center
11,ARPU,Average revenue per user
12,MOU,Minutes of usage - voice calls
13,AON,Age on network - number of days the customer is using the operator T network
14,ONNET,All kind of calls within the same operator network
15,OFFNET,All kind of calls outside the operator T network
16,ROAM,Indicates that customer is in roaming zone during the call
17,SPL,Special calls
18,ISD,ISD calls
19,RECH,Recharge
20,NUM,Number
21,AMT,Amount in local currency
22,MAX,Maximum
23,DATA,Mobile internet
24,3G,3G network
25,AV,Average
26,VOL,Mobile internet usage volume (in MB)
27,2G,2G network
28,PCK,Prepaid service schemes called - PACKS
29,NIGHT,Scheme to use during specific night hours only
30,MONTHLY,Service schemes with validity equivalent to a month
31,SACHET,Service schemes with validity smaller than a month
32,*.6,KPI for the month of June
33,*.7,KPI for the month of July
34,*.8,KPI for the month of August
35,*.9,KPI for the month of September
36,FB_USER,Service scheme to avail services of Facebook and similar social networking sites
37,VBC,Volume based cost - when no specific scheme is not purchased and paid as per usage

In [8]:
# load data
df = pd.read_csv("telecom_churn_data.csv")
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,offnet_mou_7,offnet_mou_8,offnet_mou_9,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_ic_mou_9,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8,roam_og_mou_9,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2t_mou_9,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2m_mou_9,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2f_mou_9,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_t2c_mou_9,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,loc_og_mou_9,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2t_mou_9,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2m_mou_9,std_og_t2f_mou_6,std_og_t2f_mou_7,std_og_t2f_mou_8,std_og_t2f_mou_9,std_og_t2c_mou_6,std_og_t2c_mou_7,std_og_t2c_mou_8,std_og_t2c_mou_9,std_og_mou_6,std_og_mou_7,std_og_mou_8,std_og_mou_9,isd_og_mou_6,isd_og_mou_7,isd_og_mou_8,isd_og_mou_9,spl_og_mou_6,spl_og_mou_7,spl_og_mou_8,spl_og_mou_9,og_others_6,og_others_7,og_others_8,og_others_9,total_og_mou_6,total_og_mou_7,total_og_mou_8,total_og_mou_9,loc_ic_t2t_mou_6,loc_ic_t2t_mou_7,loc_ic_t2t_mou_8,loc_ic_t2t_mou_9,loc_ic_t2m_mou_6,loc_ic_t2m_mou_7,loc_ic_t2m_mou_8,loc_ic_t2m_mou_9,loc_ic_t2f_mou_6,loc_ic_t2f_mou_7,loc_ic_t2f_mou_8,loc_ic_t2f_mou_9,loc_ic_mou_6,loc_ic_mou_7,loc_ic_mou_8,loc_ic_mou_9,std_ic_t2t_mou_6,std_ic_t2t_mou_7,std_ic_t2t_mou_8,std_ic_t2t_mou_9,std_ic_t2m_mou_6,std_ic_t2m_mou_7,std_ic_t2m_mou_8,std_ic_t2m_mou_9,std_ic_t2f_mou_6,std_ic_t2f_mou_7,std_ic_t2f_mou_8,std_ic_t2f_mou_9,std_ic_t2o_mou_6,std_ic_t2o_mou_7,std_ic_t2o_mou_8,std_ic_t2o_mou_9,std_ic_mou_6,std_ic_mou_7,std_ic_mou_8,std_ic_mou_9,total_ic_mou_6,total_ic_mou_7,total_ic_mou_8,total_ic_mou_9,spl_ic_mou_6,spl_ic_mou_7,spl_ic_mou_8,spl_ic_mou_9,isd_ic_mou_6,isd_ic_mou_7,isd_ic_mou_8,isd_ic_mou_9,ic_others_6,ic_others_7,ic_others_8,ic_others_9,total_rech_num_6,total_rech_num_7,total_rech_num_8,total_rech_num_9,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,total_rech_amt_9,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,max_rech_amt_9,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_9,last_day_rch_amt_6,last_day_rch_amt_7,last_day_rch_amt_8,last_day_rch_amt_9,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8,date_of_last_rech_data_9,total_rech_data_6,total_rech_data_7,total_rech_data_8,total_rech_data_9,max_rech_data_6,max_rech_data_7,max_rech_data_8,max_rech_data_9,count_rech_2g_6,count_rech_2g_7,count_rech_2g_8,count_rech_2g_9,count_rech_3g_6,count_rech_3g_7,count_rech_3g_8,count_rech_3g_9,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,av_rech_amt_data_9,vol_2g_mb_6,vol_2g_mb_7,vol_2g_mb_8,vol_2g_mb_9,vol_3g_mb_6,vol_3g_mb_7,vol_3g_mb_8,vol_3g_mb_9,arpu_3g_6,arpu_3g_7,arpu_3g_8,arpu_3g_9,arpu_2g_6,arpu_2g_7,arpu_2g_8,arpu_2g_9,night_pck_user_6,night_pck_user_7,night_pck_user_8,night_pck_user_9,monthly_2g_6,monthly_2g_7,monthly_2g_8,monthly_2g_9,sachet_2g_6,sachet_2g_7,sachet_2g_8,sachet_2g_9,monthly_3g_6,monthly_3g_7,monthly_3g_8,monthly_3g_9,sachet_3g_6,sachet_3g_7,sachet_3g_8,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,214.816,213.803,21.100,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,0.00,0.00,0.00,0.00,NaN,NaN,0.16,NaN,NaN,NaN,4.13,NaN,NaN,NaN,1.15,NaN,NaN,NaN,5.44,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,NaN,0.00,0.00,5.44,0.00,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,4,3,2,6,362,252,252,0,252,252,252,0,6/21/2014,7/16/2014,8/8/2014,9/28/2014,252,252,252,0,6/21/2014,7/16/2014,8/8/2014,NaN,1.0,1.0,1.0,NaN,252.0,252.0,252.0,NaN,0.0,0.0,0.0,NaN,1.0,1.0,1.0,NaN,252.0,252.0,252.0,NaN,30.13,1.32,5.75,0.0,83.57,150.76,109.61,0.00,212.17,212.17,212.17,NaN,212.17,212.17,212.17,NaN,0.0,0.0,0.0,NaN,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,355.074,268.321,86.285,24.11,78.68,7.68,18.34,15.74,99.84,304.76,53.76,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,23.88,74.56,7.68,18.34,11.51,75.94,291.86,53.76,0.00,0.00,0.00,0.00,0.0,2.91,0.00,0.00,35.39,150.51,299.54,72.11,0.23,4.11,0.00,0.00,0.00,0.46,0.13,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.23,4.58,0.13,0.00,0.0,0.0,0.0,0.0,4.68,23.43,12.76,0.00,0.00,0.0,0.0,0.0,40.31,178.53,312.44,72.11,1.61,29.91,29.23,116.09,17.48,65.38,375.58,56.93,0.00,8.93,3.61,0.00,19.09,104.23,408.43,173.03,0.00,0.00,2.35,0.00,5.90,0.00,12.49,15.01,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,5.90,0.00,14.84,15.01,26.83,104.23,423.28,188.04,0.00,0.0,0.0,0.00,1.83,0.00,0.0,0.00,0.00,0.00,0.0,0.00,4,9,11,5,74,384,283,121,44,154,65,50,6/29/2014,7/31/2014,8/28/2014,9/30/2014,44,23,30,0,NaN,7/25/2014,8/10/2014,NaN,NaN,1.0,2.0,NaN,NaN,154.0,25.0,NaN,NaN,1.0,2.0,NaN,NaN,0.0,0.0,NaN,NaN,154.0,50.0,NaN,0.00,108.07,365.47,0.0,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,28.61,7.60,NaN,NaN,0.0,0.0,NaN,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,189.058,210.226,290.714,11.54,55.24,37.26,74.81,143.33,220.59,208.36,118.91,0.0,0.00,0.00,38.49,0.0,0.00,0.00,70.94,7.19,28.74,13.58,14.39,29.34,16.86,38.46,28.16,24.11,21.79,15.61,22.24,0.0,135.54,45.76,0.48,60.66,67.41,67.66,64.81,4.34,26.49,22.58,8.76,41.81,67.41,75.53,9.28,1.48,14.76,22.83,0.0,0.0,0.0,0.0,0.0,47.64,108.68,120.94,18.04,0.0,0.0,0.0,0.0,46.56,236.84,96.84,42.08,0.45,0.0,0.0,0.0,155.33,412.94,285.46,124.94,115.69,71.11,67.46,148.23,14.38,15.44,38.89,38.98,99.48,122.29,49.63,158.19,229.56,208.86,155.99,345.41,72.41,71.29,28.69,49.44,45.18,177.01,167.09,118.18,21.73,58.34,43.23,3.86,0.0,0.0,0.0,0.0,139.33,306.66,239.03,171.49,370.04,519.53,395.03,517.74,0.21,0.0,0.0,0.45,0.00,0.85,0.0,0.01,0.93,3.14,0.0,0.36,5,4,2,7,168,315,116,358,86,200,86,100,6/17/2014,7/24/2014,8/14/2014,9/29/2014,0,200,86,0,NaN,NaN,NaN,9/17/2014,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,46.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,8.42,NaN,NaN,NaN,2.84,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,251.102,508.054,389.500,99.91,54.39,310.98,241.71,123.31,109.01,71.68,113.54,0.0,54.86,44.38,0.00,0.0,28.09,39.04,0.00,73.68,34.81,10.61,15.49,107.43,83.21,22.46,65.46,1.91,0.65,4.91,2.06,0.0,0.00,0.00,0.00,183.03,118.68,37.99,83.03,26.23,14.89,289.58,226.21,2.99,1.73,6.53,9.99,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,29.23,16.63,296.11,236.21,0.0,0.0,0.0,0.0,10.96,0.00,18.09,43.29,0.00,0.0,0.0,0.0,223.23,135.31,352.21,362.54,62.08,19.98,8.04,41.73,113.96,64.51,20.28,52.86,57.43,27.09,19.84,65.59,233.48,111.59,48.18,160.19,43.48,66.44,0.00,129.84,1.33,38.56,4.94,13.98,1.18,0.00,0.00,0.00,0.0,0.0,0.0,0.0,45.99,105.01,4.94,143.83,280.08,216.61,53.13,305.38,0.59,0.0,0.0,0.55,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.80,10,11,18,14,230,310,601,410,60,50,50,50,6/28/2014,7/31/2014,8/31/2014,9/30/2014,30,50,50,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,309.876,238.174,163.426,50.31,149.44,83.89,58.78,76.96,91.88,124.26,45.81,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,50.31,149.44,83.89,58.78,67.64,91.88,124.26,37.89,0.00,0.00,0.00,1.93,0.0,0.00,0.00,0.00,117.96,241.33,208.16,98.61,0.00,0.00,0.00,0.00,9.31,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,9.31,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,5.98,0.00,0.0,0.0,0.0,127.28,241.33,208.16,104.59,105.68,88.49,233.81,154.56,106.84,109.54,104.13,48.24,1.50,0.00,0.00,0.00,214.03,198.04,337.94,202.81,0.00,0.00,0.86,2.31,1.93,0.25,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.93,0.25,0.86,2.31,216.44,198.29,338.81,205.31,0.00,0.0,0.0,0.18,0.00,0.00,0.0,0.00,0.48,0.00,0.0,0.00,5,6,3,4,196,350,287,200,56,110,110,50,6/26/2014,7/28/2014,8/9/2014,9/28/2014,50,110,110,50,6/4/2014,NaN,NaN,NaN,1.0,NaN,NaN,NaN,56.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,56.0,NaN,NaN,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [9]:
df.shape

(99999, 226)

In [10]:
df = df.drop_duplicates()
df.shape

(99999, 226)

In [11]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99999 entries, 0 to 99998
Data columns (total 226 columns):
 #   Column                    Dtype
---  ------                    -----
 0   mobile_number             int64
 1   circle_id                 int64
 2   loc_og_t2o_mou            float64
 3   std_og_t2o_mou            float64
 4   loc_ic_t2o_mou            float64
 5   last_date_of_month_6      object
 6   last_date_of_month_7      object
 7   last_date_of_month_8      object
 8   last_date_of_month_9      object
 9   arpu_6                    float64
 10  arpu_7                    float64
 11  arpu_8                    float64
 12  arpu_9                    float64
 13  onnet_mou_6               float64
 14  onnet_mou_7               float64
 15  onnet_mou_8               float64
 16  onnet_mou_9               float64
 17  offnet_mou_6              float64
 18  offnet_mou_7              float64
 19  offnet_mou_8              float64
 20  offnet_mou_9              float64
 21  roam_ic_mou_6             float64
 22  roam_ic_mou_7             float64
 23  roam_ic_mou_8             float64
 24  roam_ic_mou_9             float64
 25  roam_og_mou_6             float64
 26  roam_og_mou_7             float64
 27  roam_og_mou_8             float64
 28  roam_og_mou_9             float64
 29  loc_og_t2t_mou_6          float64
 30  loc_og_t2t_mou_7          float64
 31  loc_og_t2t_mou_8          float64
 32  loc_og_t2t_mou_9          float64
 33  loc_og_t2m_mou_6          float64
 34  loc_og_t2m_mou_7          float64
 35  loc_og_t2m_mou_8          float64
 36  loc_og_t2m_mou_9          float64
 37  loc_og_t2f_mou_6          float64
 38  loc_og_t2f_mou_7          float64
 39  loc_og_t2f_mou_8          float64
 40  loc_og_t2f_mou_9          float64
 41  loc_og_t2c_mou_6          float64
 42  loc_og_t2c_mou_7          float64
 43  loc_og_t2c_mou_8          float64
 44  loc_og_t2c_mou_9          float64
 45  loc_og_mou_6              float64
 46  loc_og_mou_7              float64
 47  loc_og_mou_8              float64
 48  loc_og_mou_9              float64
 49  std_og_t2t_mou_6          float64
 50  std_og_t2t_mou_7          float64
 51  std_og_t2t_mou_8          float64
 52  std_og_t2t_mou_9          float64
 53  std_og_t2m_mou_6          float64
 54  std_og_t2m_mou_7          float64
 55  std_og_t2m_mou_8          float64
 56  std_og_t2m_mou_9          float64
 57  std_og_t2f_mou_6          float64
 58  std_og_t2f_mou_7          float64
 59  std_og_t2f_mou_8          float64
 60  std_og_t2f_mou_9          float64
 61  std_og_t2c_mou_6          float64
 62  std_og_t2c_mou_7          float64
 63  std_og_t2c_mou_8          float64
 64  std_og_t2c_mou_9          float64
 65  std_og_mou_6              float64
 66  std_og_mou_7              float64
 67  std_og_mou_8              float64
 68  std_og_mou_9              float64
 69  isd_og_mou_6              float64
 70  isd_og_mou_7              float64
 71  isd_og_mou_8              float64
 72  isd_og_mou_9              float64
 73  spl_og_mou_6              float64
 74  spl_og_mou_7              float64
 75  spl_og_mou_8              float64
 76  spl_og_mou_9              float64
 77  og_others_6               float64
 78  og_others_7               float64
 79  og_others_8               float64
 80  og_others_9               float64
 81  total_og_mou_6            float64
 82  total_og_mou_7            float64
 83  total_og_mou_8            float64
 84  total_og_mou_9            float64
 85  loc_ic_t2t_mou_6          float64
 86  loc_ic_t2t_mou_7          float64
 87  loc_ic_t2t_mou_8          float64
 88  loc_ic_t2t_mou_9          float64
 89  loc_ic_t2m_mou_6          float64
 90  loc_ic_t2m_mou_7          float64
 91  loc_ic_t2m_mou_8          float64
 92  loc_ic_t2m_mou_9          float64
 93  loc_ic_t2f_mou_6          float64
 94  loc_ic_t2f_mou_7          float64
 95  loc_ic_t2f_mou_8          float64
 96  loc_ic_t2f_mou_9          float64
 97  loc_ic_mou_6              float64
 98  loc_ic_mou_7              float64
 99  loc_ic_mou_8              float64
 100 loc_ic_mou_9              float64
 101 std_ic_t2t_mou_6          float64
 102 std_ic_t2t_mou_7          float64
 103 std_ic_t2t_mou_8          float64
 104 std_ic_t2t_mou_9          float64
 105 std_ic_t2m_mou_6          float64
 106 std_ic_t2m_mou_7          float64
 107 std_ic_t2m_mou_8          float64
 108 std_ic_t2m_mou_9          float64
 109 std_ic_t2f_mou_6          float64
 110 std_ic_t2f_mou_7          float64
 111 std_ic_t2f_mou_8          float64
 112 std_ic_t2f_mou_9          float64
 113 std_ic_t2o_mou_6          float64
 114 std_ic_t2o_mou_7          float64
 115 std_ic_t2o_mou_8          float64
 116 std_ic_t2o_mou_9          float64
 117 std_ic_mou_6              float64
 118 std_ic_mou_7              float64
 119 std_ic_mou_8              float64
 120 std_ic_mou_9              float64
 121 total_ic_mou_6            float64
 122 total_ic_mou_7            float64
 123 total_ic_mou_8            float64
 124 total_ic_mou_9            float64
 125 spl_ic_mou_6              float64
 126 spl_ic_mou_7              float64
 127 spl_ic_mou_8              float64
 128 spl_ic_mou_9              float64
 129 isd_ic_mou_6              float64
 130 isd_ic_mou_7              float64
 131 isd_ic_mou_8              float64
 132 isd_ic_mou_9              float64
 133 ic_others_6               float64
 134 ic_others_7               float64
 135 ic_others_8               float64
 136 ic_others_9               float64
 137 total_rech_num_6          int64
 138 total_rech_num_7          int64
 139 total_rech_num_8          int64
 140 total_rech_num_9          int64
 141 total_rech_amt_6          int64
 142 total_rech_amt_7          int64
 143 total_rech_amt_8          int64
 144 total_rech_amt_9          int64
 145 max_rech_amt_6            int64
 146 max_rech_amt_7            int64
 147 max_rech_amt_8            int64
 148 max_rech_amt_9            int64
 149 date_of_last_rech_6       object
 150 date_of_last_rech_7       object
 151 date_of_last_rech_8       object
 152 date_of_last_rech_9       object
 153 last_day_rch_amt_6        int64
 154 last_day_rch_amt_7        int64
 155 last_day_rch_amt_8        int64
 156 last_day_rch_amt_9        int64
 157 date_of_last_rech_data_6  object
 158 date_of_last_rech_data_7  object
 159 date_of_last_rech_data_8  object
 160 date_of_last_rech_data_9  object
 161 total_rech_data_6         float64
 162 total_rech_data_7         float64
 163 total_rech_data_8         float64
 164 total_rech_data_9         float64
 165 max_rech_data_6           float64
 166 max_rech_data_7           float64
 167 max_rech_data_8           float64
 168 max_rech_data_9           float64
 169 count_rech_2g_6           float64
 170 count_rech_2g_7           float64
 171 count_rech_2g_8           float64
 172 count_rech_2g_9           float64
 173 count_rech_3g_6           float64
 174 count_rech_3g_7           float64
 175 count_rech_3g_8           float64
 176 count_rech_3g_9           float64
 177 av_rech_amt_data_6        float64
 178 av_rech_amt_data_7        float64
 179 av_rech_amt_data_8        float64
 180 av_rech_amt_data_9        float64
 181 vol_2g_mb_6               float64
 182 vol_2g_mb_7               float64
 183 vol_2g_mb_8               float64
 184 vol_2g_mb_9               float64
 185 vol_3g_mb_6               float64
 186 vol_3g_mb_7               float64
 187 vol_3g_mb_8               float64
 188 vol_3g_mb_9               float64
 189 arpu_3g_6                 float64
 190 arpu_3g_7                 float64
 191 arpu_3g_8                 float64
 192 arpu_3g_9                 float64
 193 arpu_2g_6                 float64
 194 arpu_2g_7                 float64
 195 arpu_2g_8                 float64
 196 arpu_2g_9                 float64
 197 night_pck_user_6          float64
 198 night_pck_user_7          float64
 199 night_pck_user_8          float64
 200 night_pck_user_9          float64
 201 monthly_2g_6              int64
 202 monthly_2g_7              int64
 203 monthly_2g_8              int64
 204 monthly_2g_9              int64
 205 sachet_2g_6               int64
 206 sachet_2g_7               int64
 207 sachet_2g_8               int64
 208 sachet_2g_9               int64
 209 monthly_3g_6              int64
 210 monthly_3g_7              int64
 211 monthly_3g_8              int64
 212 monthly_3g_9              int64
 213 sachet_3g_6               int64
 214 sachet_3g_7               int64
 215 sachet_3g_8               int64
 216 sachet_3g_9               int64
 217 fb_user_6                 float64
 218 fb_user_7                 float64
 219 fb_user_8                 float64
 220 fb_user_9                 float64
 221 aon                       int64
 222 aug_vbc_3g                float64
 223 jul_vbc_3g                float64
 224 jun_vbc_3g                float64
 225 sep_vbc_3g                float64
dtypes: float64(179), int64(35), object(12)
memory usage: 173.2+ MB

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
mobile_number,99999.0,7.001207e+09,695669.386290,7.000000e+09,7.000606e+09,7.001205e+09,7.001812e+09,7.002411e+09
circle_id,99999.0,1.090000e+02,0.000000,1.090000e+02,1.090000e+02,1.090000e+02,1.090000e+02,1.090000e+02
loc_og_t2o_mou,98981.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
std_og_t2o_mou,98981.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
loc_ic_t2o_mou,98981.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
arpu_6,99999.0,2.829874e+02,328.439770,-2.258709e+03,9.341150e+01,1.977040e+02,3.710600e+02,2.773109e+04
arpu_7,99999.0,2.785366e+02,338.156291,-2.014045e+03,8.698050e+01,1.916400e+02,3.653445e+02,3.514583e+04
arpu_8,99999.0,2.791547e+02,344.474791,-9.458080e+02,8.412600e+01,1.920800e+02,3.693705e+02,3.354362e+04
arpu_9,99999.0,2.616451e+02,341.998630,-1.899505e+03,6.268500e+01,1.768490e+02,3.534665e+02,3.880562e+04
onnet_mou_6,96062.0,1.323959e+02,297.207406,0.000000e+00,7.380000e+00,3.431000e+01,1.187400e+02,7.376710e+03
onnet_mou_7,96140.0,1.336708e+02,308.794148,0.000000e+00,6.660000e+00,3.233000e+01,1.155950e+02,8.157780e+03
onnet_mou_8,94621.0,1.330181e+02,308.951589,0.000000e+00,6.460000e+00,3.236000e+01,1.158600e+02,1.075256e+04
onnet_mou_9,92254.0,1.303023e+02,308.477668,0.000000e+00,5.330000e+00,2.984000e+01,1.121300e+02,1.042746e+04
offnet_mou_6,96062.0,1.979356e+02,316.851613,0.000000e+00,3.473000e+01,9.631000e+01,2.318600e+02,8.362360e+03
offnet_mou_7,96140.0,1.970451e+02,325.862803,0.000000e+00,3.219000e+01,9.173500e+01,2.268150e+02,9.667130e+03
offnet_mou_8,94621.0,1.965748e+02,327.170662,0.000000e+00,3.163000e+01,9.214000e+01,2.282600e+02,1.400734e+04
offnet_mou_9,92254.0,1.903372e+02,319.396092,0.000000e+00,2.713000e+01,8.729000e+01,2.205050e+02,1.031076e+04
roam_ic_mou_6,96062.0,9.950013e+00,72.825411,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.372438e+04
roam_ic_mou_7,96140.0,7.149898e+00,73.447948,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.537104e+04
roam_ic_mou_8,94621.0,7.292981e+00,68.402466,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.309536e+04
roam_ic_mou_9,92254.0,6.343841e+00,57.137537,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.464030e+03
roam_og_mou_6,96062.0,1.391134e+01,71.443196,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.775110e+03
roam_og_mou_7,96140.0,9.818732e+00,58.455762,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.812040e+03
roam_og_mou_8,94621.0,9.971890e+00,64.713221,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.337040e+03
roam_og_mou_9,92254.0,8.555519e+00,58.438186,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.428460e+03
loc_og_t2t_mou_6,96062.0,4.710076e+01,150.856393,0.000000e+00,1.660000e+00,1.191000e+01,4.096000e+01,6.431330e+03
loc_og_t2t_mou_7,96140.0,4.647301e+01,155.318705,0.000000e+00,1.630000e+00,1.161000e+01,3.991000e+01,7.400660e+03
loc_og_t2t_mou_8,94621.0,4.588781e+01,151.184830,0.000000e+00,1.600000e+00,1.173000e+01,4.011000e+01,1.075256e+04
loc_og_t2t_mou_9,92254.0,4.458445e+01,147.995390,0.000000e+00,1.360000e+00,1.126000e+01,3.928000e+01,1.038924e+04
loc_og_t2m_mou_6,96062.0,9.334209e+01,162.780544,0.000000e+00,9.880000e+00,4.103000e+01,1.103900e+02,4.729740e+03
loc_og_t2m_mou_7,96140.0,9.139713e+01,157.492308,0.000000e+00,1.002500e+01,4.043000e+01,1.075600e+02,4.557140e+03
loc_og_t2m_mou_8,94621.0,9.175513e+01,156.537048,0.000000e+00,9.810000e+00,4.036000e+01,1.090900e+02,4.961330e+03
loc_og_t2m_mou_9,92254.0,9.046319e+01,158.681454,0.000000e+00,8.810000e+00,3.912000e+01,1.068100e+02,4.429880e+03
loc_og_t2f_mou_6,96062.0,3.751013e+00,14.230438,0.000000e+00,0.000000e+00,0.000000e+00,2.080000e+00,1.466030e+03
loc_og_t2f_mou_7,96140.0,3.792985e+00,14.264986,0.000000e+00,0.000000e+00,0.000000e+00,2.090000e+00,1.196430e+03
loc_og_t2f_mou_8,94621.0,3.677991e+00,13.270996,0.000000e+00,0.000000e+00,0.000000e+00,2.040000e+00,9.284900e+02
loc_og_t2f_mou_9,92254.0,3.655123e+00,13.457549,0.000000e+00,0.000000e+00,0.000000e+00,1.940000e+00,9.274100e+02
loc_og_t2c_mou_6,96062.0,1.123056e+00,5.448946,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.428600e+02
loc_og_t2c_mou_7,96140.0,1.368500e+00,7.533445,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.162400e+02
loc_og_t2c_mou_8,94621.0,1.433821e+00,6.783335,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.020900e+02
loc_og_t2c_mou_9,92254.0,1.232726e+00,5.619021,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.398400e+02
loc_og_mou_6,96062.0,1.442012e+02,251.751489,0.000000e+00,1.711000e+01,6.511000e+01,1.682700e+02,1.064338e+04
loc_og_mou_7,96140.0,1.416705e+02,248.731086,0.000000e+00,1.748000e+01,6.368500e+01,1.643825e+02,7.674780e+03
loc_og_mou_8,94621.0,1.413282e+02,245.914311,0.000000e+00,1.711000e+01,6.373000e+01,1.661100e+02,1.103991e+04
loc_og_mou_9,92254.0,1.387100e+02,245.934517,0.000000e+00,1.556000e+01,6.184000e+01,1.622250e+02,1.109926e+04
std_og_t2t_mou_6,96062.0,7.982987e+01,252.476533,0.000000e+00,0.000000e+00,0.000000e+00,3.080750e+01,7.366580e+03
std_og_t2t_mou_7,96140.0,8.329960e+01,263.631042,0.000000e+00,0.000000e+00,0.000000e+00,3.113250e+01,8.133660e+03
std_og_t2t_mou_8,94621.0,8.328267e+01,265.486090,0.000000e+00,0.000000e+00,0.000000e+00,3.058000e+01,8.014430e+03
std_og_t2t_mou_9,92254.0,8.234292e+01,267.184991,0.000000e+00,0.000000e+00,0.000000e+00,2.823000e+01,9.382580e+03
std_og_t2m_mou_6,96062.0,8.729962e+01,255.617850,0.000000e+00,0.000000e+00,3.950000e+00,5.329000e+01,8.314760e+03
std_og_t2m_mou_7,96140.0,9.080414e+01,269.347911,0.000000e+00,0.000000e+00,3.635000e+00,5.404000e+01,9.284740e+03
std_og_t2m_mou_8,94621.0,8.983839e+01,271.757783,0.000000e+00,0.000000e+00,3.310000e+00,5.249000e+01,1.395004e+04
std_og_t2m_mou_9,92254.0,8.627662e+01,261.407396,0.000000e+00,0.000000e+00,2.500000e+00,4.856000e+01,1.022343e+04
std_og_t2f_mou_6,96062.0,1.129011e+00,7.984970,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.285600e+02
std_og_t2f_mou_7,96140.0,1.115010e+00,8.599406,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.446300e+02
std_og_t2f_mou_8,94621.0,1.067792e+00,7.905971,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.169100e+02
std_og_t2f_mou_9,92254.0,1.042362e+00,8.261770,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.084900e+02
std_og_t2c_mou_6,96062.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
std_og_t2c_mou_7,96140.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
std_og_t2c_mou_8,94621.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
std_og_t2c_mou_9,92254.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
std_og_mou_6,96062.0,1.682612e+02,389.948499,0.000000e+00,0.000000e+00,1.164000e+01,1.448375e+02,8.432990e+03
std_og_mou_7,96140.0,1.752214e+02,408.922934,0.000000e+00,0.000000e+00,1.109000e+01,1.506150e+02,1.093673e+04
std_og_mou_8,94621.0,1.741915e+02,411.633049,0.000000e+00,0.000000e+00,1.041000e+01,1.479400e+02,1.398006e+04
std_og_mou_9,92254.0,1.696645e+02,405.138658,0.000000e+00,0.000000e+00,8.410000e+00,1.421050e+02,1.149531e+04
isd_og_mou_6,96062.0,7.982775e-01,25.765248,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.900660e+03
isd_og_mou_7,96140.0,7.765721e-01,25.603052,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.490280e+03
isd_og_mou_8,94621.0,7.912471e-01,25.544471,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.681540e+03
isd_og_mou_9,92254.0,7.238921e-01,21.310751,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.244530e+03
spl_og_mou_6,96062.0,3.916811e+00,14.936449,0.000000e+00,0.000000e+00,0.000000e+00,2.430000e+00,1.023210e+03
spl_og_mou_7,96140.0,4.978279e+00,20.661570,0.000000e+00,0.000000e+00,0.000000e+00,3.710000e+00,2.372510e+03
spl_og_mou_8,94621.0,5.053769e+00,17.855111,0.000000e+00,0.000000e+00,0.000000e+00,3.990000e+00,1.390880e+03
spl_og_mou_9,92254.0,4.412767e+00,16.328227,0.000000e+00,0.000000e+00,0.000000e+00,3.230000e+00,1.635710e+03
og_others_6,96062.0,4.541571e-01,4.125911,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.008900e+02
og_others_7,96140.0,3.023539e-02,2.161717,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.701300e+02
og_others_8,94621.0,3.337198e-02,2.323464,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.949300e+02
og_others_9,92254.0,4.745572e-02,3.635466,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.877900e+02
total_og_mou_6,99999.0,3.051334e+02,463.419481,0.000000e+00,4.474000e+01,1.451400e+02,3.728600e+02,1.067403e+04
total_og_mou_7,99999.0,3.102312e+02,480.031178,0.000000e+00,4.301000e+01,1.415300e+02,3.785700e+02,1.136531e+04
total_og_mou_8,99999.0,3.041195e+02,478.150031,0.000000e+00,3.858000e+01,1.386100e+02,3.699000e+02,1.404306e+04
total_og_mou_9,99999.0,2.892792e+02,468.980002,0.000000e+00,2.551000e+01,1.254600e+02,3.534800e+02,1.151773e+04
loc_ic_t2t_mou_6,96062.0,4.792237e+01,140.258485,0.000000e+00,2.990000e+00,1.569000e+01,4.684000e+01,6.626930e+03
loc_ic_t2t_mou_7,96140.0,4.799052e+01,145.795055,0.000000e+00,3.230000e+00,1.574000e+01,4.581000e+01,9.324660e+03
loc_ic_t2t_mou_8,94621.0,4.721136e+01,137.239552,0.000000e+00,3.280000e+00,1.603000e+01,4.629000e+01,1.069623e+04
loc_ic_t2t_mou_9,92254.0,4.628179e+01,140.130610,0.000000e+00,3.290000e+00,1.566000e+01,4.518000e+01,1.059883e+04
loc_ic_t2m_mou_6,96062.0,1.074757e+02,171.713903,0.000000e+00,1.729000e+01,5.649000e+01,1.323875e+02,4.693860e+03
loc_ic_t2m_mou_7,96140.0,1.071205e+02,169.423620,0.000000e+00,1.859000e+01,5.708000e+01,1.309600e+02,4.455830e+03
loc_ic_t2m_mou_8,94621.0,1.084605e+02,169.723759,0.000000e+00,1.893000e+01,5.824000e+01,1.339300e+02,6.274190e+03
loc_ic_t2m_mou_9,92254.0,1.061555e+02,165.492803,0.000000e+00,1.856000e+01,5.661000e+01,1.304900e+02,5.463780e+03
loc_ic_t2f_mou_6,96062.0,1.208430e+01,40.140895,0.000000e+00,0.000000e+00,8.800000e-01,8.140000e+00,1.872340e+03
loc_ic_t2f_mou_7,96140.0,1.259970e+01,42.977442,0.000000e+00,0.000000e+00,9.300000e-01,8.282500e+00,1.983010e+03
loc_ic_t2f_mou_8,94621.0,1.175183e+01,39.125379,0.000000e+00,0.000000e+00,9.300000e-01,8.110000e+00,2.433060e+03
loc_ic_t2f_mou_9,92254.0,1.217310e+01,43.840776,0.000000e+00,0.000000e+00,9.600000e-01,8.140000e+00,4.318280e+03
loc_ic_mou_6,96062.0,1.674911e+02,254.124029,0.000000e+00,3.039000e+01,9.216000e+01,2.080750e+02,7.454630e+03
loc_ic_mou_7,96140.0,1.677195e+02,256.242707,0.000000e+00,3.246000e+01,9.255000e+01,2.058375e+02,9.669910e+03
loc_ic_mou_8,94621.0,1.674326e+02,250.025523,0.000000e+00,3.274000e+01,9.383000e+01,2.072800e+02,1.083016e+04
loc_ic_mou_9,92254.0,1.646193e+02,249.845070,0.000000e+00,3.229000e+01,9.164000e+01,2.027375e+02,1.079629e+04
std_ic_t2t_mou_6,96062.0,9.575993e+00,54.330607,0.000000e+00,0.000000e+00,0.000000e+00,4.060000e+00,5.459560e+03
std_ic_t2t_mou_7,96140.0,1.001190e+01,57.411971,0.000000e+00,0.000000e+00,0.000000e+00,4.230000e+00,5.800930e+03
std_ic_t2t_mou_8,94621.0,9.883921e+00,55.073186,0.000000e+00,0.000000e+00,0.000000e+00,4.080000e+00,4.309290e+03
std_ic_t2t_mou_9,92254.0,9.432479e+00,53.376273,0.000000e+00,0.000000e+00,0.000000e+00,3.510000e+00,3.819830e+03
std_ic_t2m_mou_6,96062.0,2.072224e+01,80.793414,0.000000e+00,0.000000e+00,2.030000e+00,1.503000e+01,5.647160e+03
std_ic_t2m_mou_7,96140.0,2.165641e+01,86.521393,0.000000e+00,0.000000e+00,2.040000e+00,1.574000e+01,6.141880e+03
std_ic_t2m_mou_8,94621.0,2.118321e+01,83.683565,0.000000e+00,0.000000e+00,2.030000e+00,1.536000e+01,5.645860e+03
std_ic_t2m_mou_9,92254.0,1.962091e+01,74.913050,0.000000e+00,0.000000e+00,1.740000e+00,1.426000e+01,5.689760e+03
std_ic_t2f_mou_6,96062.0,2.156397e+00,16.495594,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.351110e+03
std_ic_t2f_mou_7,96140.0,2.216923e+00,16.454061,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.136080e+03
std_ic_t2f_mou_8,94621.0,2.085004e+00,15.812580,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.394890e+03
std_ic_t2f_mou_9,92254.0,2.173419e+00,15.978601,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.431960e+03
std_ic_t2o_mou_6,96062.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
std_ic_t2o_mou_7,96140.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
std_ic_t2o_mou_8,94621.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
std_ic_t2o_mou_9,92254.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
std_ic_mou_6,96062.0,3.245718e+01,106.283386,0.000000e+00,0.000000e+00,5.890000e+00,2.693000e+01,5.712110e+03
std_ic_mou_7,96140.0,3.388783e+01,113.720168,0.000000e+00,0.000000e+00,5.960000e+00,2.831000e+01,6.745760e+03
std_ic_mou_8,94621.0,3.315474e+01,110.127008,0.000000e+00,1.000000e-02,5.880000e+00,2.771000e+01,5.957140e+03
std_ic_mou_9,92254.0,3.122934e+01,101.982303,0.000000e+00,0.000000e+00,5.380000e+00,2.569000e+01,5.956660e+03
total_ic_mou_6,99999.0,2.001300e+02,291.651671,0.000000e+00,3.853000e+01,1.147400e+02,2.516700e+02,7.716140e+03
total_ic_mou_7,99999.0,2.028531e+02,298.124954,0.000000e+00,4.119000e+01,1.163400e+02,2.506600e+02,9.699010e+03
total_ic_mou_8,99999.0,1.987508e+02,289.321094,0.000000e+00,3.829000e+01,1.146600e+02,2.489900e+02,1.083038e+04
total_ic_mou_9,99999.0,1.892143e+02,284.823024,0.000000e+00,3.237000e+01,1.058900e+02,2.363200e+02,1.079659e+04
spl_ic_mou_6,96062.0,6.155660e-02,0.160920,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.976000e+01
spl_ic_mou_7,96140.0,3.358477e-02,0.155725,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.133000e+01
spl_ic_mou_8,94621.0,4.036134e-02,0.146147,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.686000e+01
spl_ic_mou_9,92254.0,1.631370e-01,0.527860,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-02,6.238000e+01
isd_ic_mou_6,96062.0,7.460608e+00,59.722948,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.789410e+03
isd_ic_mou_7,96140.0,8.334936e+00,65.219829,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.289540e+03
isd_ic_mou_8,94621.0,8.442001e+00,63.813098,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.127010e+03
isd_ic_mou_9,92254.0,8.063003e+00,63.505379,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.057740e+03
ic_others_6,96062.0,8.546555e-01,11.955164,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.362940e+03
ic_others_7,96140.0,1.012960e+00,12.673099,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.495940e+03
ic_others_8,94621.0,9.708005e-01,13.284348,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.327510e+03
ic_others_9,92254.0,1.017162e+00,12.381172,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.005230e+03
total_rech_num_6,99999.0,7.558806e+00,7.078405,0.000000e+00,3.000000e+00,6.000000e+00,9.000000e+00,3.070000e+02
total_rech_num_7,99999.0,7.700367e+00,7.070422,0.000000e+00,3.000000e+00,6.000000e+00,1.000000e+01,1.380000e+02
total_rech_num_8,99999.0,7.212912e+00,7.203753,0.000000e+00,3.000000e+00,5.000000e+00,9.000000e+00,1.960000e+02
total_rech_num_9,99999.0,6.893019e+00,7.096261,0.000000e+00,3.000000e+00,5.000000e+00,9.000000e+00,1.310000e+02
total_rech_amt_6,99999.0,3.275146e+02,398.019701,0.000000e+00,1.090000e+02,2.300000e+02,4.375000e+02,3.519000e+04
total_rech_amt_7,99999.0,3.229630e+02,408.114237,0.000000e+00,1.000000e+02,2.200000e+02,4.280000e+02,4.033500e+04
total_rech_amt_8,99999.0,3.241571e+02,416.540455,0.000000e+00,9.000000e+01,2.250000e+02,4.345000e+02,4.532000e+04
total_rech_amt_9,99999.0,3.033457e+02,404.588583,0.000000e+00,5.200000e+01,2.000000e+02,4.150000e+02,3.723500e+04
max_rech_amt_6,99999.0,1.046375e+02,120.614894,0.000000e+00,3.000000e+01,1.100000e+02,1.200000e+02,4.010000e+03
max_rech_amt_7,99999.0,1.047524e+02,124.523970,0.000000e+00,3.000000e+01,1.100000e+02,1.280000e+02,4.010000e+03
max_rech_amt_8,99999.0,1.077282e+02,126.902505,0.000000e+00,3.000000e+01,9.800000e+01,1.440000e+02,4.449000e+03
max_rech_amt_9,99999.0,1.019439e+02,125.375109,0.000000e+00,2.800000e+01,6.100000e+01,1.440000e+02,3.399000e+03
last_day_rch_amt_6,99999.0,6.315625e+01,97.356649,0.000000e+00,0.000000e+00,3.000000e+01,1.100000e+02,4.010000e+03
last_day_rch_amt_7,99999.0,5.938580e+01,95.915385,0.000000e+00,0.000000e+00,3.000000e+01,1.100000e+02,4.010000e+03
last_day_rch_amt_8,99999.0,6.264172e+01,104.431816,0.000000e+00,0.000000e+00,3.000000e+01,1.300000e+02,4.449000e+03
last_day_rch_amt_9,99999.0,4.390125e+01,90.809712,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+01,3.399000e+03
total_rech_data_6,25153.0,2.463802e+00,2.789128,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,6.100000e+01
total_rech_data_7,25571.0,2.666419e+00,3.031593,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,5.400000e+01
total_rech_data_8,26339.0,2.651999e+00,3.074987,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,6.000000e+01
total_rech_data_9,25922.0,2.441170e+00,2.516339,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,8.400000e+01
max_rech_data_6,25153.0,1.263934e+02,108.477235,1.000000e+00,2.500000e+01,1.450000e+02,1.770000e+02,1.555000e+03
max_rech_data_7,25571.0,1.267295e+02,109.765267,1.000000e+00,2.500000e+01,1.450000e+02,1.770000e+02,1.555000e+03
max_rech_data_8,26339.0,1.257173e+02,109.437851,1.000000e+00,2.500000e+01,1.450000e+02,1.790000e+02,1.555000e+03
max_rech_data_9,25922.0,1.249414e+02,111.363760,1.000000e+00,2.500000e+01,1.450000e+02,1.790000e+02,1.555000e+03
count_rech_2g_6,25153.0,1.864668e+00,2.570254,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.200000e+01
count_rech_2g_7,25571.0,2.044699e+00,2.768332,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.800000e+01
count_rech_2g_8,26339.0,2.016288e+00,2.720132,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.400000e+01
count_rech_2g_9,25922.0,1.781807e+00,2.214701,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+01
count_rech_3g_6,25153.0,5.991333e-01,1.274428,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.900000e+01
count_rech_3g_7,25571.0,6.217199e-01,1.394524,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.500000e+01
count_rech_3g_8,26339.0,6.357113e-01,1.422827,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,4.500000e+01
count_rech_3g_9,25922.0,6.593627e-01,1.411513,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,4.900000e+01
av_rech_amt_data_6,25153.0,1.926010e+02,192.646318,1.000000e+00,8.200000e+01,1.540000e+02,2.520000e+02,7.546000e+03
av_rech_amt_data_7,25571.0,2.009813e+02,196.791224,5.000000e-01,9.200000e+01,1.540000e+02,2.520000e+02,4.365000e+03
av_rech_amt_data_8,26339.0,1.975265e+02,191.301305,5.000000e-01,8.700000e+01,1.540000e+02,2.520000e+02,4.076000e+03
av_rech_amt_data_9,25922.0,1.927343e+02,188.400286,1.000000e+00,6.900000e+01,1.640000e+02,2.520000e+02,4.061000e+03
vol_2g_mb_6,99999.0,5.190496e+01,213.356445,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.028590e+04
vol_2g_mb_7,99999.0,5.122994e+01,212.302217,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.873550e+03
vol_2g_mb_8,99999.0,5.017015e+01,212.347892,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.111761e+04
vol_2g_mb_9,99999.0,4.471970e+01,198.653570,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.993950e+03
vol_3g_mb_6,99999.0,1.213962e+02,544.247227,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.573540e+04
vol_3g_mb_7,99999.0,1.289958e+02,541.494013,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.814412e+04
vol_3g_mb_8,99999.0,1.354107e+02,558.775335,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.003606e+04
vol_3g_mb_9,99999.0,1.360566e+02,577.394194,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.922127e+04
arpu_3g_6,25153.0,8.955506e+01,193.124653,-3.082000e+01,0.000000e+00,4.800000e-01,1.220700e+02,6.362280e+03
arpu_3g_7,25571.0,8.938412e+01,195.893924,-2.604000e+01,0.000000e+00,4.200000e-01,1.195600e+02,4.980900e+03

In [13]:
# all numeric columns
df.describe().columns.values

array(['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou',
       'loc_ic_t2o_mou', 'arpu_6', 'arpu_7', 'arpu_8', 'arpu_9',
       'onnet_mou_6', 'onnet_mou_7', 'onnet_mou_8', 'onnet_mou_9',
       'offnet_mou_6', 'offnet_mou_7', 'offnet_mou_8', 'offnet_mou_9',
       'roam_ic_mou_6', 'roam_ic_mou_7', 'roam_ic_mou_8', 'roam_ic_mou_9',
       'roam_og_mou_6', 'roam_og_mou_7', 'roam_og_mou_8', 'roam_og_mou_9',
       'loc_og_t2t_mou_6', 'loc_og_t2t_mou_7', 'loc_og_t2t_mou_8',
       'loc_og_t2t_mou_9', 'loc_og_t2m_mou_6', 'loc_og_t2m_mou_7',
       'loc_og_t2m_mou_8', 'loc_og_t2m_mou_9', 'loc_og_t2f_mou_6',
       'loc_og_t2f_mou_7', 'loc_og_t2f_mou_8', 'loc_og_t2f_mou_9',
       'loc_og_t2c_mou_6', 'loc_og_t2c_mou_7', 'loc_og_t2c_mou_8',
       'loc_og_t2c_mou_9', 'loc_og_mou_6', 'loc_og_mou_7', 'loc_og_mou_8',
       'loc_og_mou_9', 'std_og_t2t_mou_6', 'std_og_t2t_mou_7',
       'std_og_t2t_mou_8', 'std_og_t2t_mou_9', 'std_og_t2m_mou_6',
       'std_og_t2m_mou_7', 'std_og_t2m_mou_8', 'std_og_t2m_mou_9',
       'std_og_t2f_mou_6', 'std_og_t2f_mou_7', 'std_og_t2f_mou_8',
       'std_og_t2f_mou_9', 'std_og_t2c_mou_6', 'std_og_t2c_mou_7',
       'std_og_t2c_mou_8', 'std_og_t2c_mou_9', 'std_og_mou_6',
       'std_og_mou_7', 'std_og_mou_8', 'std_og_mou_9', 'isd_og_mou_6',
       'isd_og_mou_7', 'isd_og_mou_8', 'isd_og_mou_9', 'spl_og_mou_6',
       'spl_og_mou_7', 'spl_og_mou_8', 'spl_og_mou_9', 'og_others_6',
       'og_others_7', 'og_others_8', 'og_others_9', 'total_og_mou_6',
       'total_og_mou_7', 'total_og_mou_8', 'total_og_mou_9',
       'loc_ic_t2t_mou_6', 'loc_ic_t2t_mou_7', 'loc_ic_t2t_mou_8',
       'loc_ic_t2t_mou_9', 'loc_ic_t2m_mou_6', 'loc_ic_t2m_mou_7',
       'loc_ic_t2m_mou_8', 'loc_ic_t2m_mou_9', 'loc_ic_t2f_mou_6',
       'loc_ic_t2f_mou_7', 'loc_ic_t2f_mou_8', 'loc_ic_t2f_mou_9',
       'loc_ic_mou_6', 'loc_ic_mou_7', 'loc_ic_mou_8', 'loc_ic_mou_9',
       'std_ic_t2t_mou_6', 'std_ic_t2t_mou_7', 'std_ic_t2t_mou_8',
       'std_ic_t2t_mou_9', 'std_ic_t2m_mou_6', 'std_ic_t2m_mou_7',
       'std_ic_t2m_mou_8', 'std_ic_t2m_mou_9', 'std_ic_t2f_mou_6',
       'std_ic_t2f_mou_7', 'std_ic_t2f_mou_8', 'std_ic_t2f_mou_9',
       'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8',
       'std_ic_t2o_mou_9', 'std_ic_mou_6', 'std_ic_mou_7', 'std_ic_mou_8',
       'std_ic_mou_9', 'total_ic_mou_6', 'total_ic_mou_7',
       'total_ic_mou_8', 'total_ic_mou_9', 'spl_ic_mou_6', 'spl_ic_mou_7',
       'spl_ic_mou_8', 'spl_ic_mou_9', 'isd_ic_mou_6', 'isd_ic_mou_7',
       'isd_ic_mou_8', 'isd_ic_mou_9', 'ic_others_6', 'ic_others_7',
       'ic_others_8', 'ic_others_9', 'total_rech_num_6',
       'total_rech_num_7', 'total_rech_num_8', 'total_rech_num_9',
       'total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8',
       'total_rech_amt_9', 'max_rech_amt_6', 'max_rech_amt_7',
       'max_rech_amt_8', 'max_rech_amt_9', 'last_day_rch_amt_6',
       'last_day_rch_amt_7', 'last_day_rch_amt_8', 'last_day_rch_amt_9',
       'total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8',
       'total_rech_data_9', 'max_rech_data_6', 'max_rech_data_7',
       'max_rech_data_8', 'max_rech_data_9', 'count_rech_2g_6',
       'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_2g_9',
       'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8',
       'count_rech_3g_9', 'av_rech_amt_data_6', 'av_rech_amt_data_7',
       'av_rech_amt_data_8', 'av_rech_amt_data_9', 'vol_2g_mb_6',
       'vol_2g_mb_7', 'vol_2g_mb_8', 'vol_2g_mb_9', 'vol_3g_mb_6',
       'vol_3g_mb_7', 'vol_3g_mb_8', 'vol_3g_mb_9', 'arpu_3g_6',
       'arpu_3g_7', 'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7',
       'arpu_2g_8', 'arpu_2g_9', 'night_pck_user_6', 'night_pck_user_7',
       'night_pck_user_8', 'night_pck_user_9', 'monthly_2g_6',
       'monthly_2g_7', 'monthly_2g_8', 'monthly_2g_9', 'sachet_2g_6',
       'sachet_2g_7', 'sachet_2g_8', 'sachet_2g_9', 'monthly_3g_6',
       'monthly_3g_7', 'monthly_3g_8', 'monthly_3g_9', 'sachet_3g_6',
       'sachet_3g_7', 'sachet_3g_8', 'sachet_3g_9', 'fb_user_6',
       'fb_user_7', 'fb_user_8', 'fb_user_9', 'aon', 'aug_vbc_3g',
       'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g'], dtype=object)

## Datatype Treatment

In [14]:
cat_cols = ['circle_id', 'mobile_number']
df.loc[:, cat_cols] = df.loc[:, cat_cols].astype("category")

In [15]:
# unique mobile numbers
len(df['mobile_number'].unique())

99999

In [16]:
# all RECH features
col_recharges = col_filter(r"_rech_", df)
col_recharges

Index(['total_rech_num_6', 'total_rech_num_7', 'total_rech_num_8',
       'total_rech_num_9', 'total_rech_amt_6', 'total_rech_amt_7',
       'total_rech_amt_8', 'total_rech_amt_9', 'max_rech_amt_6',
       'max_rech_amt_7', 'max_rech_amt_8', 'max_rech_amt_9',
       'date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8',
       'date_of_last_rech_9', 'date_of_last_rech_data_6',
       'date_of_last_rech_data_7', 'date_of_last_rech_data_8',
       'date_of_last_rech_data_9', 'total_rech_data_6', 'total_rech_data_7',
       'total_rech_data_8', 'total_rech_data_9', 'max_rech_data_6',
       'max_rech_data_7', 'max_rech_data_8', 'max_rech_data_9',
       'count_rech_2g_6', 'count_rech_2g_7', 'count_rech_2g_8',
       'count_rech_2g_9', 'count_rech_3g_6', 'count_rech_3g_7',
       'count_rech_3g_8', 'count_rech_3g_9', 'av_rech_amt_data_6',
       'av_rech_amt_data_7', 'av_rech_amt_data_8', 'av_rech_amt_data_9'],
      dtype='object')

In [17]:
# look at rotal_reach items
col_rech = col_filter([r"_rech_"], df)

display(df[col_rech].head())
# unique values
unique(df[col_rech])

,total_rech_num_6,total_rech_num_7,total_rech_num_8,total_rech_num_9,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,total_rech_amt_9,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,max_rech_amt_9,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_9,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8,date_of_last_rech_data_9,total_rech_data_6,total_rech_data_7,total_rech_data_8,total_rech_data_9,max_rech_data_6,max_rech_data_7,max_rech_data_8,max_rech_data_9,count_rech_2g_6,count_rech_2g_7,count_rech_2g_8,count_rech_2g_9,count_rech_3g_6,count_rech_3g_7,count_rech_3g_8,count_rech_3g_9,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,av_rech_amt_data_9
0,4,3,2,6,362,252,252,0,252,252,252,0,6/21/2014,7/16/2014,8/8/2014,9/28/2014,6/21/2014,7/16/2014,8/8/2014,NaN,1.0,1.0,1.0,NaN,252.0,252.0,252.0,NaN,0.0,0.0,0.0,NaN,1.0,1.0,1.0,NaN,252.0,252.0,252.0,NaN
1,4,9,11,5,74,384,283,121,44,154,65,50,6/29/2014,7/31/2014,8/28/2014,9/30/2014,NaN,7/25/2014,8/10/2014,NaN,NaN,1.0,2.0,NaN,NaN,154.0,25.0,NaN,NaN,1.0,2.0,NaN,NaN,0.0,0.0,NaN,NaN,154.0,50.0,NaN
2,5,4,2,7,168,315,116,358,86,200,86,100,6/17/2014,7/24/2014,8/14/2014,9/29/2014,NaN,NaN,NaN,9/17/2014,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,46.0
3,10,11,18,14,230,310,601,410,60,50,50,50,6/28/2014,7/31/2014,8/31/2014,9/30/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,6,3,4,196,350,287,200,56,110,110,50,6/26/2014,7/28/2014,8/9/2014,9/28/2014,6/4/2014,NaN,NaN,NaN,1.0,NaN,NaN,NaN,56.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,56.0,NaN,NaN,NaN

Unique values:
total_rech_num_6 : 102
-=-=-=-=-=
total_rech_num_7 : 101
-=-=-=-=-=
total_rech_num_8 : 96
-=-=-=-=-=
total_rech_num_9 : 97
-=-=-=-=-=
total_rech_amt_6 : 2305
-=-=-=-=-=
total_rech_amt_7 : 2329
-=-=-=-=-=
total_rech_amt_8 : 2347
-=-=-=-=-=
total_rech_amt_9 : 2304
-=-=-=-=-=
max_rech_amt_6 : 202
-=-=-=-=-=
max_rech_amt_7 : 183
-=-=-=-=-=
max_rech_amt_8 : 213
-=-=-=-=-=
max_rech_amt_9 : 201
-=-=-=-=-=
date_of_last_rech_6 : 30
-=-=-=-=-=
date_of_last_rech_7 : 31
-=-=-=-=-=
date_of_last_rech_8 : 31
-=-=-=-=-=
date_of_last_rech_9 : 30
-=-=-=-=-=
date_of_last_rech_data_6 : 30
-=-=-=-=-=
date_of_last_rech_data_7 : 31
-=-=-=-=-=
date_of_last_rech_data_8 : 31
-=-=-=-=-=
date_of_last_rech_data_9 : 30
-=-=-=-=-=
total_rech_data_6 : 37
-=-=-=-=-=
total_rech_data_7 : 42
-=-=-=-=-=
total_rech_data_8 : 46
-=-=-=-=-=
total_rech_data_9 : 37
-=-=-=-=-=
max_rech_data_6 : 48
-=-=-=-=-=
max_rech_data_7 : 48
-=-=-=-=-=
max_rech_data_8 : 50
-=-=-=-=-=
max_rech_data_9 : 50
-=-=-=-=-=
count_rech_2g_6 : 31
-=-=-=-=-=
count_rech_2g_7 : 36
-=-=-=-=-=
count_rech_2g_8 : 34
-=-=-=-=-=
count_rech_2g_9 : 32
-=-=-=-=-=
count_rech_3g_6 : 25
-=-=-=-=-=
count_rech_3g_7 : 28
-=-=-=-=-=
count_rech_3g_8 : 29
-=-=-=-=-=
count_rech_3g_9 : 27
-=-=-=-=-=
av_rech_amt_data_6 : 887
-=-=-=-=-=
av_rech_amt_data_7 : 961
-=-=-=-=-=
av_rech_amt_data_8 : 973
-=-=-=-=-=
av_rech_amt_data_9 : 945
-=-=-=-=-=

After looking at the avove features started with `_rech_` we can clearly see, those are:

- Ordinal categorical features 
- Cardinality is very high
- Few features are date. I shall calculate age in days for those columns.
- Few features are numerical

Lets look at one by one:

<!-- I will perform `binning` operation with `frequency-thresholding` on those features:

1. Choose a proportion threshold for a bin.
1. Sort unique values in the column by their frequency in descending order
1. Keep adding the frequency of these sorted (descending) unique values until a threshold is reached.

These are the unique categories we will keep and instances of all other categories shall be replaced by “other”. 

CODE:

# # perform binning with frequency threshold=75%
# for col in col_recharges:
#     transformed_column, _ = frequency_binning(df[col], return_categories_list=True)
#     df.loc[:, col] = transformed_column
#     print(df[col].unique())
# # unique values
# values(df[col_recharges])# # perform binning with frequency threshold=75%
# for col in col_recharges:
#     transformed_column, _ = frequency_binning(df[col], return_categories_list=True)
#     df.loc[:, col] = transformed_column
#     print(df[col].unique())
# # unique values
# values(df[col_recharges])

-->

In [18]:
# look at rotal_reach items
col_rech_dt = col_filter([r"date_of.*rech_"], df)
display(df[col_rech_dt].head())

,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_9,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8,date_of_last_rech_data_9
0,6/21/2014,7/16/2014,8/8/2014,9/28/2014,6/21/2014,7/16/2014,8/8/2014,NaN
1,6/29/2014,7/31/2014,8/28/2014,9/30/2014,NaN,7/25/2014,8/10/2014,NaN
2,6/17/2014,7/24/2014,8/14/2014,9/29/2014,NaN,NaN,NaN,9/17/2014
3,6/28/2014,7/31/2014,8/31/2014,9/30/2014,NaN,NaN,NaN,NaN
4,6/26/2014,7/28/2014,8/9/2014,9/28/2014,6/4/2014,NaN,NaN,NaN

**Convert to datetime and calculate age of last rechange**

In [19]:
# convert to datetime
from datetime import datetime, date

# This function converts given date to age
def age(born, today):
    delta = today - born
    return delta.days

for col in col_rech_dt:
    df[col] = pd.to_datetime(df[col], format="%m/%d/%Y")

In [20]:
# df[['date_of_last_rech_6_age_day', 
# 'date_of_last_rech_7_age_day', 
# 'date_of_last_rech_8_age_day', 
# 'date_of_last_rech_9_age_day', 
# 'date_of_last_rech_data_6_age_day', 
# 'date_of_last_rech_data_7_age_day', 
# 'date_of_last_rech_data_8_age_day', 
# 'date_of_last_rech_data_9_age_day']].head()

**Lets look at other `date_` features**

In [21]:
ob = df.select_dtypes(include='object')
ob.head()

,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9
0,6/30/2014,7/31/2014,8/31/2014,9/30/2014
1,6/30/2014,7/31/2014,8/31/2014,9/30/2014
2,6/30/2014,7/31/2014,8/31/2014,9/30/2014
3,6/30/2014,7/31/2014,8/31/2014,9/30/2014
4,6/30/2014,7/31/2014,8/31/2014,9/30/2014

In [22]:
# convert above columsn to datetime and calculate age in days
for col in ob.columns:
    df[col] = pd.to_datetime(df[col], format="%m/%d/%Y")

In [23]:
# df[['last_date_of_month_6_age_day', 
# 'last_date_of_month_7_age_day', 
# 'last_date_of_month_8_age_day', 
# 'last_date_of_month_9_age_day']].sum()

**Lets look at the following fetures `sachet_3g_7	sachet_3g_8	sachet_3g_9	fb_user_6	fb_user_7	fb_user_8	fb_user_9`**

In [24]:
col_spl = ['sachet_3g_7','sachet_3g_8','sachet_3g_9',
           'night_pck_user_6','night_pck_user_7','night_pck_user_8','night_pck_user_9',
           'fb_user_6','fb_user_7','fb_user_8','fb_user_9']
values(df[col_spl])

Percent value counts(%):

0     95.869959
1     2.810028
2     0.635006
3     0.229002
4     0.129001
5     0.102001
6     0.064001
7     0.034000
8     0.020000
9     0.020000
10    0.013000
11    0.014000
12    0.013000
13    0.006000
14    0.007000
15    0.007000
16    0.002000
17    0.003000
18    0.005000
19    0.004000
20    0.003000
21    0.002000
22    0.003000
24    0.002000
31    0.001000
33    0.001000
35    0.001000
Name: sachet_3g_7, dtype: float64

-=-=-=-=-=

0     95.809958
1     2.784028
2     0.638006
3     0.272003
4     0.143001
5     0.105001
6     0.057001
7     0.045000
8     0.033000
9     0.021000
10    0.017000
11    0.010000
12    0.014000
13    0.012000
14    0.007000
15    0.007000
16    0.004000
17    0.002000
18    0.003000
19    0.001000
20    0.003000
21    0.003000
23    0.002000
25    0.001000
27    0.001000
29    0.001000
30    0.002000
38    0.001000
41    0.001000
Name: sachet_3g_8, dtype: float64

-=-=-=-=-=

0     95.726957
1     2.849028
2     0.639006
3     0.302003
4     0.155002
5     0.095001
6     0.055001
7     0.036000
8     0.036000
9     0.017000
10    0.014000
11    0.018000
12    0.016000
13    0.010000
14    0.003000
15    0.004000
16    0.003000
18    0.004000
19    0.002000
21    0.004000
22    0.003000
23    0.001000
24    0.001000
26    0.003000
27    0.001000
36    0.001000
49    0.001000
Name: sachet_3g_9, dtype: float64

-=-=-=-=-=

0.0    97.491353
1.0    2.508647
Name: night_pck_user_6, dtype: float64

-=-=-=-=-=

0.0    97.696609
1.0    2.303391
Name: night_pck_user_7, dtype: float64

-=-=-=-=-=

0.0    97.915638
1.0    2.084362
Name: night_pck_user_8, dtype: float64

-=-=-=-=-=

0.0    98.402901
1.0    1.597099
Name: night_pck_user_9, dtype: float64

-=-=-=-=-=

0.0    8.559615
1.0    91.440385
Name: fb_user_6, dtype: float64

-=-=-=-=-=

0.0    9.123617
1.0    90.876383
Name: fb_user_7, dtype: float64

-=-=-=-=-=

0.0    10.919169
1.0    89.080831
Name: fb_user_8, dtype: float64

-=-=-=-=-=

0.0    13.903248
1.0    86.096752
Name: fb_user_9, dtype: float64

-=-=-=-=-=

- Fetures started with `fb_user` & `night_pck_user` are binary columns
- Rest of them are ordinal categorical

In [25]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99999 entries, 0 to 99998
Data columns (total 226 columns):
 #   Column                    Dtype
---  ------                    -----
 0   mobile_number             category
 1   circle_id                 category
 2   loc_og_t2o_mou            float64
 3   std_og_t2o_mou            float64
 4   loc_ic_t2o_mou            float64
 5   last_date_of_month_6      datetime64[ns]
 6   last_date_of_month_7      datetime64[ns]
 7   last_date_of_month_8      datetime64[ns]
 8   last_date_of_month_9      datetime64[ns]
 9   arpu_6                    float64
 10  arpu_7                    float64
 11  arpu_8                    float64
 12  arpu_9                    float64
 13  onnet_mou_6               float64
 14  onnet_mou_7               float64
 15  onnet_mou_8               float64
 16  onnet_mou_9               float64
 17  offnet_mou_6              float64
 18  offnet_mou_7              float64
 19  offnet_mou_8              float64
 20  offnet_mou_9              float64
 21  roam_ic_mou_6             float64
 22  roam_ic_mou_7             float64
 23  roam_ic_mou_8             float64
 24  roam_ic_mou_9             float64
 25  roam_og_mou_6             float64
 26  roam_og_mou_7             float64
 27  roam_og_mou_8             float64
 28  roam_og_mou_9             float64
 29  loc_og_t2t_mou_6          float64
 30  loc_og_t2t_mou_7          float64
 31  loc_og_t2t_mou_8          float64
 32  loc_og_t2t_mou_9          float64
 33  loc_og_t2m_mou_6          float64
 34  loc_og_t2m_mou_7          float64
 35  loc_og_t2m_mou_8          float64
 36  loc_og_t2m_mou_9          float64
 37  loc_og_t2f_mou_6          float64
 38  loc_og_t2f_mou_7          float64
 39  loc_og_t2f_mou_8          float64
 40  loc_og_t2f_mou_9          float64
 41  loc_og_t2c_mou_6          float64
 42  loc_og_t2c_mou_7          float64
 43  loc_og_t2c_mou_8          float64
 44  loc_og_t2c_mou_9          float64
 45  loc_og_mou_6              float64
 46  loc_og_mou_7              float64
 47  loc_og_mou_8              float64
 48  loc_og_mou_9              float64
 49  std_og_t2t_mou_6          float64
 50  std_og_t2t_mou_7          float64
 51  std_og_t2t_mou_8          float64
 52  std_og_t2t_mou_9          float64
 53  std_og_t2m_mou_6          float64
 54  std_og_t2m_mou_7          float64
 55  std_og_t2m_mou_8          float64
 56  std_og_t2m_mou_9          float64
 57  std_og_t2f_mou_6          float64
 58  std_og_t2f_mou_7          float64
 59  std_og_t2f_mou_8          float64
 60  std_og_t2f_mou_9          float64
 61  std_og_t2c_mou_6          float64
 62  std_og_t2c_mou_7          float64
 63  std_og_t2c_mou_8          float64
 64  std_og_t2c_mou_9          float64
 65  std_og_mou_6              float64
 66  std_og_mou_7              float64
 67  std_og_mou_8              float64
 68  std_og_mou_9              float64
 69  isd_og_mou_6              float64
 70  isd_og_mou_7              float64
 71  isd_og_mou_8              float64
 72  isd_og_mou_9              float64
 73  spl_og_mou_6              float64
 74  spl_og_mou_7              float64
 75  spl_og_mou_8              float64
 76  spl_og_mou_9              float64
 77  og_others_6               float64
 78  og_others_7               float64
 79  og_others_8               float64
 80  og_others_9               float64
 81  total_og_mou_6            float64
 82  total_og_mou_7            float64
 83  total_og_mou_8            float64
 84  total_og_mou_9            float64
 85  loc_ic_t2t_mou_6          float64
 86  loc_ic_t2t_mou_7          float64
 87  loc_ic_t2t_mou_8          float64
 88  loc_ic_t2t_mou_9          float64
 89  loc_ic_t2m_mou_6          float64
 90  loc_ic_t2m_mou_7          float64
 91  loc_ic_t2m_mou_8          float64
 92  loc_ic_t2m_mou_9          float64
 93  loc_ic_t2f_mou_6          float64
 94  loc_ic_t2f_mou_7          float64
 95  loc_ic_t2f_mou_8          float64
 96  loc_ic_t2f_mou_9          float64
 97  loc_ic_mou_6              float64
 98  loc_ic_mou_7              float64
 99  loc_ic_mou_8              float64
 100 loc_ic_mou_9              float64
 101 std_ic_t2t_mou_6          float64
 102 std_ic_t2t_mou_7          float64
 103 std_ic_t2t_mou_8          float64
 104 std_ic_t2t_mou_9          float64
 105 std_ic_t2m_mou_6          float64
 106 std_ic_t2m_mou_7          float64
 107 std_ic_t2m_mou_8          float64
 108 std_ic_t2m_mou_9          float64
 109 std_ic_t2f_mou_6          float64
 110 std_ic_t2f_mou_7          float64
 111 std_ic_t2f_mou_8          float64
 112 std_ic_t2f_mou_9          float64
 113 std_ic_t2o_mou_6          float64
 114 std_ic_t2o_mou_7          float64
 115 std_ic_t2o_mou_8          float64
 116 std_ic_t2o_mou_9          float64
 117 std_ic_mou_6              float64
 118 std_ic_mou_7              float64
 119 std_ic_mou_8              float64
 120 std_ic_mou_9              float64
 121 total_ic_mou_6            float64
 122 total_ic_mou_7            float64
 123 total_ic_mou_8            float64
 124 total_ic_mou_9            float64
 125 spl_ic_mou_6              float64
 126 spl_ic_mou_7              float64
 127 spl_ic_mou_8              float64
 128 spl_ic_mou_9              float64
 129 isd_ic_mou_6              float64
 130 isd_ic_mou_7              float64
 131 isd_ic_mou_8              float64
 132 isd_ic_mou_9              float64
 133 ic_others_6               float64
 134 ic_others_7               float64
 135 ic_others_8               float64
 136 ic_others_9               float64
 137 total_rech_num_6          int64
 138 total_rech_num_7          int64
 139 total_rech_num_8          int64
 140 total_rech_num_9          int64
 141 total_rech_amt_6          int64
 142 total_rech_amt_7          int64
 143 total_rech_amt_8          int64
 144 total_rech_amt_9          int64
 145 max_rech_amt_6            int64
 146 max_rech_amt_7            int64
 147 max_rech_amt_8            int64
 148 max_rech_amt_9            int64
 149 date_of_last_rech_6       datetime64[ns]
 150 date_of_last_rech_7       datetime64[ns]
 151 date_of_last_rech_8       datetime64[ns]
 152 date_of_last_rech_9       datetime64[ns]
 153 last_day_rch_amt_6        int64
 154 last_day_rch_amt_7        int64
 155 last_day_rch_amt_8        int64
 156 last_day_rch_amt_9        int64
 157 date_of_last_rech_data_6  datetime64[ns]
 158 date_of_last_rech_data_7  datetime64[ns]
 159 date_of_last_rech_data_8  datetime64[ns]
 160 date_of_last_rech_data_9  datetime64[ns]
 161 total_rech_data_6         float64
 162 total_rech_data_7         float64
 163 total_rech_data_8         float64
 164 total_rech_data_9         float64
 165 max_rech_data_6           float64
 166 max_rech_data_7           float64
 167 max_rech_data_8           float64
 168 max_rech_data_9           float64
 169 count_rech_2g_6           float64
 170 count_rech_2g_7           float64
 171 count_rech_2g_8           float64
 172 count_rech_2g_9           float64
 173 count_rech_3g_6           float64
 174 count_rech_3g_7           float64
 175 count_rech_3g_8           float64
 176 count_rech_3g_9           float64
 177 av_rech_amt_data_6        float64
 178 av_rech_amt_data_7        float64
 179 av_rech_amt_data_8        float64
 180 av_rech_amt_data_9        float64
 181 vol_2g_mb_6               float64
 182 vol_2g_mb_7               float64
 183 vol_2g_mb_8               float64
 184 vol_2g_mb_9               float64
 185 vol_3g_mb_6               float64
 186 vol_3g_mb_7               float64
 187 vol_3g_mb_8               float64
 188 vol_3g_mb_9               float64
 189 arpu_3g_6                 float64
 190 arpu_3g_7                 float64
 191 arpu_3g_8                 float64
 192 arpu_3g_9                 float64
 193 arpu_2g_6                 float64
 194 arpu_2g_7                 float64
 195 arpu_2g_8                 float64
 196 arpu_2g_9                 float64
 197 night_pck_user_6          float64
 198 night_pck_user_7          float64
 199 night_pck_user_8          float64
 200 night_pck_user_9          float64
 201 monthly_2g_6              int64
 202 monthly_2g_7              int64
 203 monthly_2g_8              int64
 204 monthly_2g_9              int64
 205 sachet_2g_6               int64
 206 sachet_2g_7               int64
 207 sachet_2g_8               int64
 208 sachet_2g_9               int64
 209 monthly_3g_6              int64
 210 monthly_3g_7              int64
 211 monthly_3g_8              int64
 212 monthly_3g_9              int64
 213 sachet_3g_6               int64
 214 sachet_3g_7               int64
 215 sachet_3g_8               int64
 216 sachet_3g_9               int64
 217 fb_user_6                 float64
 218 fb_user_7                 float64
 219 fb_user_8                 float64
 220 fb_user_9                 float64
 221 aon                       int64
 222 aug_vbc_3g                float64
 223 jul_vbc_3g                float64
 224 jun_vbc_3g                float64
 225 sep_vbc_3g                float64
dtypes: category(2), datetime64[ns](12), float64(179), int64(33)
memory usage: 175.4 MB

**All datatypes are fixed. Lets look cardinality/variance of the columns**

## Unique Value check and cleanup

In [26]:
# unique value counts
unique(df)

Unique values:
mobile_number : 99999
-=-=-=-=-=
circle_id : 1
-=-=-=-=-=
loc_og_t2o_mou : 1
-=-=-=-=-=
std_og_t2o_mou : 1
-=-=-=-=-=
loc_ic_t2o_mou : 1
-=-=-=-=-=
last_date_of_month_6 : 1
-=-=-=-=-=
last_date_of_month_7 : 1
-=-=-=-=-=
last_date_of_month_8 : 1
-=-=-=-=-=
last_date_of_month_9 : 1
-=-=-=-=-=
arpu_6 : 85681
-=-=-=-=-=
arpu_7 : 85308
-=-=-=-=-=
arpu_8 : 83615
-=-=-=-=-=
arpu_9 : 79937
-=-=-=-=-=
onnet_mou_6 : 24313
-=-=-=-=-=
onnet_mou_7 : 24336
-=-=-=-=-=
onnet_mou_8 : 24089
-=-=-=-=-=
onnet_mou_9 : 23565
-=-=-=-=-=
offnet_mou_6 : 31140
-=-=-=-=-=
offnet_mou_7 : 31023
-=-=-=-=-=
offnet_mou_8 : 30908
-=-=-=-=-=
offnet_mou_9 : 30077
-=-=-=-=-=
roam_ic_mou_6 : 6512
-=-=-=-=-=
roam_ic_mou_7 : 5230
-=-=-=-=-=
roam_ic_mou_8 : 5315
-=-=-=-=-=
roam_ic_mou_9 : 4827
-=-=-=-=-=
roam_og_mou_6 : 8038
-=-=-=-=-=
roam_og_mou_7 : 6639
-=-=-=-=-=
roam_og_mou_8 : 6504
-=-=-=-=-=
roam_og_mou_9 : 5882
-=-=-=-=-=
loc_og_t2t_mou_6 : 13539
-=-=-=-=-=
loc_og_t2t_mou_7 : 13411
-=-=-=-=-=
loc_og_t2t_mou_8 : 13336
-=-=-=-=-=
loc_og_t2t_mou_9 : 12949
-=-=-=-=-=
loc_og_t2m_mou_6 : 20905
-=-=-=-=-=
loc_og_t2m_mou_7 : 20637
-=-=-=-=-=
loc_og_t2m_mou_8 : 20544
-=-=-=-=-=
loc_og_t2m_mou_9 : 20141
-=-=-=-=-=
loc_og_t2f_mou_6 : 3860
-=-=-=-=-=
loc_og_t2f_mou_7 : 3863
-=-=-=-=-=
loc_og_t2f_mou_8 : 3807
-=-=-=-=-=
loc_og_t2f_mou_9 : 3758
-=-=-=-=-=
loc_og_t2c_mou_6 : 2235
-=-=-=-=-=
loc_og_t2c_mou_7 : 2426
-=-=-=-=-=
loc_og_t2c_mou_8 : 2516
-=-=-=-=-=
loc_og_t2c_mou_9 : 2332
-=-=-=-=-=
loc_og_mou_6 : 26372
-=-=-=-=-=
loc_og_mou_7 : 26091
-=-=-=-=-=
loc_og_mou_8 : 25990
-=-=-=-=-=
loc_og_mou_9 : 25376
-=-=-=-=-=
std_og_t2t_mou_6 : 18244
-=-=-=-=-=
std_og_t2t_mou_7 : 18567
-=-=-=-=-=
std_og_t2t_mou_8 : 18291
-=-=-=-=-=
std_og_t2t_mou_9 : 17934
-=-=-=-=-=
std_og_t2m_mou_6 : 19734
-=-=-=-=-=
std_og_t2m_mou_7 : 20018
-=-=-=-=-=
std_og_t2m_mou_8 : 19786
-=-=-=-=-=
std_og_t2m_mou_9 : 19052
-=-=-=-=-=
std_og_t2f_mou_6 : 2450
-=-=-=-=-=
std_og_t2f_mou_7 : 2391
-=-=-=-=-=
std_og_t2f_mou_8 : 2333
-=-=-=-=-=
std_og_t2f_mou_9 : 2295
-=-=-=-=-=
std_og_t2c_mou_6 : 1
-=-=-=-=-=
std_og_t2c_mou_7 : 1
-=-=-=-=-=
std_og_t2c_mou_8 : 1
-=-=-=-=-=
std_og_t2c_mou_9 : 1
-=-=-=-=-=
std_og_mou_6 : 27502
-=-=-=-=-=
std_og_mou_7 : 27951
-=-=-=-=-=
std_og_mou_8 : 27491
-=-=-=-=-=
std_og_mou_9 : 26553
-=-=-=-=-=
isd_og_mou_6 : 1381
-=-=-=-=-=
isd_og_mou_7 : 1380
-=-=-=-=-=
isd_og_mou_8 : 1276
-=-=-=-=-=
isd_og_mou_9 : 1255
-=-=-=-=-=
spl_og_mou_6 : 3965
-=-=-=-=-=
spl_og_mou_7 : 4396
-=-=-=-=-=
spl_og_mou_8 : 4390
-=-=-=-=-=
spl_og_mou_9 : 4095
-=-=-=-=-=
og_others_6 : 1018
-=-=-=-=-=
og_others_7 : 187
-=-=-=-=-=
og_others_8 : 216
-=-=-=-=-=
og_others_9 : 235
-=-=-=-=-=
total_og_mou_6 : 40327
-=-=-=-=-=
total_og_mou_7 : 40477
-=-=-=-=-=
total_og_mou_8 : 40074
-=-=-=-=-=
total_og_mou_9 : 39160
-=-=-=-=-=
loc_ic_t2t_mou_6 : 13540
-=-=-=-=-=
loc_ic_t2t_mou_7 : 13511
-=-=-=-=-=
loc_ic_t2t_mou_8 : 13346
-=-=-=-=-=
loc_ic_t2t_mou_9 : 12993
-=-=-=-=-=
loc_ic_t2m_mou_6 : 22065
-=-=-=-=-=
loc_ic_t2m_mou_7 : 21918
-=-=-=-=-=
loc_ic_t2m_mou_8 : 21886
-=-=-=-=-=
loc_ic_t2m_mou_9 : 21484
-=-=-=-=-=
loc_ic_t2f_mou_6 : 7250
-=-=-=-=-=
loc_ic_t2f_mou_7 : 7395
-=-=-=-=-=
loc_ic_t2f_mou_8 : 7097
-=-=-=-=-=
loc_ic_t2f_mou_9 : 7091
-=-=-=-=-=
loc_ic_mou_6 : 28569
-=-=-=-=-=
loc_ic_mou_7 : 28390
-=-=-=-=-=
loc_ic_mou_8 : 28200
-=-=-=-=-=
loc_ic_mou_9 : 27697
-=-=-=-=-=
std_ic_t2t_mou_6 : 6279
-=-=-=-=-=
std_ic_t2t_mou_7 : 6481
-=-=-=-=-=
std_ic_t2t_mou_8 : 6352
-=-=-=-=-=
std_ic_t2t_mou_9 : 6157
-=-=-=-=-=
std_ic_t2m_mou_6 : 9308
-=-=-=-=-=
std_ic_t2m_mou_7 : 9464
-=-=-=-=-=
std_ic_t2m_mou_8 : 9304
-=-=-=-=-=
std_ic_t2m_mou_9 : 8933
-=-=-=-=-=
std_ic_t2f_mou_6 : 3125
-=-=-=-=-=
std_ic_t2f_mou_7 : 3209
-=-=-=-=-=
std_ic_t2f_mou_8 : 3051
-=-=-=-=-=
std_ic_t2f_mou_9 : 3090
-=-=-=-=-=
std_ic_t2o_mou_6 : 1
-=-=-=-=-=
std_ic_t2o_mou_7 : 1
-=-=-=-=-=
std_ic_t2o_mou_8 : 1
-=-=-=-=-=
std_ic_t2o_mou_9 : 1
-=-=-=-=-=
std_ic_mou_6 : 11646
-=-=-=-=-=
std_ic_mou_7 : 11889
-=-=-=-=-=
std_ic_mou_8 : 11662
-=-=-=-=-=
std_ic_mou_9 : 11266
-=-=-=-=-=
total_ic_mou_6 : 32247
-=-=-=-=-=
total_ic_mou_7 : 32242
-=-=-=-=-=
total_ic_mou_8 : 32128
-=-=-=-=-=
total_ic_mou_9 : 31260
-=-=-=-=-=
spl_ic_mou_6 : 84
-=-=-=-=-=
spl_ic_mou_7 : 107
-=-=-=-=-=
spl_ic_mou_8 : 102
-=-=-=-=-=
spl_ic_mou_9 : 384
-=-=-=-=-=
isd_ic_mou_6 : 5521
-=-=-=-=-=
isd_ic_mou_7 : 5789
-=-=-=-=-=
isd_ic_mou_8 : 5844
-=-=-=-=-=
isd_ic_mou_9 : 5557
-=-=-=-=-=
ic_others_6 : 1817
-=-=-=-=-=
ic_others_7 : 2002
-=-=-=-=-=
ic_others_8 : 1896
-=-=-=-=-=
ic_others_9 : 1923
-=-=-=-=-=
total_rech_num_6 : 102
-=-=-=-=-=
total_rech_num_7 : 101
-=-=-=-=-=
total_rech_num_8 : 96
-=-=-=-=-=
total_rech_num_9 : 97
-=-=-=-=-=
total_rech_amt_6 : 2305
-=-=-=-=-=
total_rech_amt_7 : 2329
-=-=-=-=-=
total_rech_amt_8 : 2347
-=-=-=-=-=
total_rech_amt_9 : 2304
-=-=-=-=-=
max_rech_amt_6 : 202
-=-=-=-=-=
max_rech_amt_7 : 183
-=-=-=-=-=
max_rech_amt_8 : 213
-=-=-=-=-=
max_rech_amt_9 : 201
-=-=-=-=-=
date_of_last_rech_6 : 30
-=-=-=-=-=
date_of_last_rech_7 : 31
-=-=-=-=-=
date_of_last_rech_8 : 31
-=-=-=-=-=
date_of_last_rech_9 : 30
-=-=-=-=-=
last_day_rch_amt_6 : 186
-=-=-=-=-=
last_day_rch_amt_7 : 173
-=-=-=-=-=
last_day_rch_amt_8 : 199
-=-=-=-=-=
last_day_rch_amt_9 : 185
-=-=-=-=-=
date_of_last_rech_data_6 : 30
-=-=-=-=-=
date_of_last_rech_data_7 : 31
-=-=-=-=-=
date_of_last_rech_data_8 : 31
-=-=-=-=-=
date_of_last_rech_data_9 : 30
-=-=-=-=-=
total_rech_data_6 : 37
-=-=-=-=-=
total_rech_data_7 : 42
-=-=-=-=-=
total_rech_data_8 : 46
-=-=-=-=-=
total_rech_data_9 : 37
-=-=-=-=-=
max_rech_data_6 : 48
-=-=-=-=-=
max_rech_data_7 : 48
-=-=-=-=-=
max_rech_data_8 : 50
-=-=-=-=-=
max_rech_data_9 : 50
-=-=-=-=-=
count_rech_2g_6 : 31
-=-=-=-=-=
count_rech_2g_7 : 36
-=-=-=-=-=
count_rech_2g_8 : 34
-=-=-=-=-=
count_rech_2g_9 : 32
-=-=-=-=-=
count_rech_3g_6 : 25
-=-=-=-=-=
count_rech_3g_7 : 28
-=-=-=-=-=
count_rech_3g_8 : 29
-=-=-=-=-=
count_rech_3g_9 : 27
-=-=-=-=-=
av_rech_amt_data_6 : 887
-=-=-=-=-=
av_rech_amt_data_7 : 961
-=-=-=-=-=
av_rech_amt_data_8 : 973
-=-=-=-=-=
av_rech_amt_data_9 : 945
-=-=-=-=-=
vol_2g_mb_6 : 15201
-=-=-=-=-=
vol_2g_mb_7 : 15114
-=-=-=-=-=
vol_2g_mb_8 : 14994
-=-=-=-=-=
vol_2g_mb_9 : 13919
-=-=-=-=-=
vol_3g_mb_6 : 13773
-=-=-=-=-=
vol_3g_mb_7 : 14519
-=-=-=-=-=
vol_3g_mb_8 : 14960
-=-=-=-=-=
vol_3g_mb_9 : 14472
-=-=-=-=-=
arpu_3g_6 : 7418
-=-=-=-=-=
arpu_3g_7 : 7246
-=-=-=-=-=
arpu_3g_8 : 7787
-=-=-=-=-=
arpu_3g_9 : 8063
-=-=-=-=-=
arpu_2g_6 : 6990
-=-=-=-=-=
arpu_2g_7 : 6586
-=-=-=-=-=
arpu_2g_8 : 6652
-=-=-=-=-=
arpu_2g_9 : 6795
-=-=-=-=-=
night_pck_user_6 : 2
-=-=-=-=-=
night_pck_user_7 : 2
-=-=-=-=-=
night_pck_user_8 : 2
-=-=-=-=-=
night_pck_user_9 : 2
-=-=-=-=-=
monthly_2g_6 : 5
-=-=-=-=-=
monthly_2g_7 : 6
-=-=-=-=-=
monthly_2g_8 : 6
-=-=-=-=-=
monthly_2g_9 : 5
-=-=-=-=-=
sachet_2g_6 : 32
-=-=-=-=-=
sachet_2g_7 : 35
-=-=-=-=-=
sachet_2g_8 : 34
-=-=-=-=-=
sachet_2g_9 : 32
-=-=-=-=-=
monthly_3g_6 : 12
-=-=-=-=-=
monthly_3g_7 : 15
-=-=-=-=-=
monthly_3g_8 : 12
-=-=-=-=-=
monthly_3g_9 : 11
-=-=-=-=-=
sachet_3g_6 : 25
-=-=-=-=-=
sachet_3g_7 : 27
-=-=-=-=-=
sachet_3g_8 : 29
-=-=-=-=-=
sachet_3g_9 : 27
-=-=-=-=-=
fb_user_6 : 2
-=-=-=-=-=
fb_user_7 : 2
-=-=-=-=-=
fb_user_8 : 2
-=-=-=-=-=
fb_user_9 : 2
-=-=-=-=-=
aon : 3489
-=-=-=-=-=
aug_vbc_3g : 14676
-=-=-=-=-=
jul_vbc_3g : 14162
-=-=-=-=-=
jun_vbc_3g : 13312
-=-=-=-=-=
sep_vbc_3g : 3720
-=-=-=-=-=

**As we see above there are multiple variables having only 1 unique values.**
I will delete the features with 0 variance

In [27]:
# filter columns with only one values
cols_no_variance = list(filter(lambda col: df[col].nunique() == 1, df.columns))
df = df.drop(columns=cols_no_variance)
df.shape

(99999, 210)

**All datatypes are fixed. Lets look at the missing values**

## High Value Customers

### Mising value treatment

To calculate **`high value customers`** we need the following features:


1. **`total_rech_data_M`**
2. **`av_rech_amt_data_M`**
3. **`total_rech_amt_M`**
4. **`date_of_last_rech_data_M`**
5. **`date_of_last_rech_M`**

Here **`M`** is the month **`6, 7, 8 & 9`**

Let us treat the **`Null`** values for the follwoing features.

In [28]:
col_filter(r"date_of_", df)

Index(['date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8',
       'date_of_last_rech_9', 'date_of_last_rech_data_6',
       'date_of_last_rech_data_7', 'date_of_last_rech_data_8',
       'date_of_last_rech_data_9'],
      dtype='object')

In [29]:
# look at the missing values
col_reac = col_filter([
    r'total_rech_amt_\d',
    r'date_of_last_rech_\d'
], df)

col_rech_data = col_filter([
    r'total_rech_data_\d',
    r'av_rech_amt_data_\d',
    r'date_of_last_rech_data_\d',
], df)

display(missings(df, col_reac))
print("-=-==-=--=-")
display(missings(df, col_rech_data))

Missing in percent(%):

date_of_last_rech_9    4.760048
date_of_last_rech_8    3.622036
date_of_last_rech_7    1.767018
date_of_last_rech_6    1.607016
total_rech_amt_9       0.000000
total_rech_amt_8       0.000000
total_rech_amt_7       0.000000
total_rech_amt_6       0.000000
dtype: float64

-=-==-=--=-
Missing in percent(%):

av_rech_amt_data_6          74.846748
total_rech_data_6           74.846748
date_of_last_rech_data_6    74.846748
av_rech_amt_data_7          74.428744
total_rech_data_7           74.428744
date_of_last_rech_data_7    74.428744
av_rech_amt_data_9          74.077741
total_rech_data_9           74.077741
date_of_last_rech_data_9    74.077741
av_rech_amt_data_8          73.660737
total_rech_data_8           73.660737
date_of_last_rech_data_8    73.660737
dtype: float64

**Analyse the data-rechange columns for missing values**

In [32]:
# collect data-recharge columns for
for m in [6, 7, 8, 9]:
    temp_df = df[[f'date_of_last_rech_data_{m}',f'total_rech_data_{m}', f'max_rech_data_{m}', f'av_rech_amt_data_{m}']]

    display(temp_df.sample(10, random_state=100))

,date_of_last_rech_data_6,total_rech_data_6,max_rech_data_6,av_rech_amt_data_6
79667,2014-06-20,1.0,198.0,198.0
83841,2014-06-11,4.0,125.0,200.0
57025,NaT,NaN,NaN,NaN
53130,NaT,NaN,NaN,NaN
32612,NaT,NaN,NaN,NaN
89899,2014-06-26,5.0,154.0,377.0
67555,NaT,NaN,NaN,NaN
70321,NaT,NaN,NaN,NaN
20410,2014-06-23,1.0,274.0,274.0
6157,NaT,NaN,NaN,NaN

,date_of_last_rech_data_7,total_rech_data_7,max_rech_data_7,av_rech_amt_data_7
79667,2014-07-20,1.0,198.0,198.0
83841,2014-07-11,2.0,152.0,304.0
57025,NaT,NaN,NaN,NaN
53130,NaT,NaN,NaN,NaN
32612,NaT,NaN,NaN,NaN
89899,2014-07-31,8.0,154.0,315.0
67555,NaT,NaN,NaN,NaN
70321,NaT,NaN,NaN,NaN
20410,NaT,NaN,NaN,NaN
6157,NaT,NaN,NaN,NaN

,date_of_last_rech_data_8,total_rech_data_8,max_rech_data_8,av_rech_amt_data_8
79667,2014-08-17,1.0,198.0,198.0
83841,2014-08-06,1.0,154.0,154.0
57025,NaT,NaN,NaN,NaN
53130,2014-08-05,1.0,177.0,177.0
32612,NaT,NaN,NaN,NaN
89899,2014-08-30,6.0,154.0,269.0
67555,NaT,NaN,NaN,NaN
70321,NaT,NaN,NaN,NaN
20410,NaT,NaN,NaN,NaN
6157,NaT,NaN,NaN,NaN

,date_of_last_rech_data_9,total_rech_data_9,max_rech_data_9,av_rech_amt_data_9
79667,2014-09-14,1.0,198.0,198.0
83841,2014-09-04,2.0,152.0,304.0
57025,NaT,NaN,NaN,NaN
53130,NaT,NaN,NaN,NaN
32612,NaT,NaN,NaN,NaN
89899,2014-09-30,8.0,202.0,800.0
67555,NaT,NaN,NaN,NaN
70321,NaT,NaN,NaN,NaN
20410,2014-09-15,1.0,274.0,274.0
6157,NaT,NaN,NaN,NaN

As we can see above, there is a pattern in the missing values. The null values are not at random.

Below code essentially perform **`row wise null`** check. If all item in a row is null or not null we will always have a set of length 1. Thus we can compute this and aggregate the sum for entire dataset. Finally, we can compare the sum with the dataframe size. If both are equal, indicates the null/non-values values are not at random. Whereever there is a missing date there we should find a missing items. Therefore we can easily imputer the null with 0 for those columns.

In [33]:
# collect data-recharge columns for
for m in [6, 7, 8, 9]:
    temp_df = df[[f'date_of_last_rech_data_{m}',f'total_rech_data_{m}', f'max_rech_data_{m}', f'av_rech_amt_data_{m}']]

    temp_sum = (temp_df.apply(lambda x: len(set(x.isna())) , axis=1) == 1).sum()
    print(f"Missing not at Random. Impute with 0. month-{m}\n--=--=--=" if len(temp_df) == temp_sum else "Missing at random")

Missing not at Random. Impute with 0. month-6
--=--=--=
Missing not at Random. Impute with 0. month-7
--=--=--=
Missing not at Random. Impute with 0. month-8
--=--=--=
Missing not at Random. Impute with 0. month-9
--=--=--=

Above columns are reasonable. User did not recharge internet.

In [34]:
# impute data-recharge columns with 0
for m in [6, 7, 8, 9]:
    cols = [f'total_rech_data_{m}', f'max_rech_data_{m}', f'av_rech_amt_data_{m}']
    df[cols] = df[cols].fillna(0)

### Indentify High Value Customers

In [36]:
# get the gross recharge amount for customers for the 'good' period

# get the internet recharge amount
df['total_rech_amt_data_6'] = df['av_rech_amt_data_6'] * df['total_rech_data_6']
df['total_rech_amt_data_7'] = df['av_rech_amt_data_7'] * df['total_rech_data_7']

# add talktime amout with internet amount
df['gross_rech_amt_6'] = df['total_rech_amt_data_6'] + df['total_rech_amt_6']
df['gross_rech_amt_7'] = df['total_rech_amt_data_7'] + df['total_rech_amt_7']

# Calculating gross average amount
df['gross_mean_amt'] = df[['gross_rech_amt_6', 'gross_rech_amt_7']].mean(axis=1)

# find the cutoff for highvalue customers
threshold = 0.7
cut_off = df['gross_mean_amt'].quantile(threshold)

# Filtering the high-value customers
df2 = df[df['gross_mean_amt'] >= cut_off]

df2.shape

(30001, 215)

**We filtered out the high-value customers**

# TODO

## Missing Value Treatment

In [37]:
# lets look at the missing values
missings(df2)

Missing in percent(%):

date_of_last_rech_data_9    14.781148
night_pck_user_9            14.781148
count_rech_2g_9             14.781148
count_rech_3g_9             14.781148
arpu_3g_9                   14.781148
arpu_2g_9                   14.781148
fb_user_9                   14.781148
count_rech_2g_8             14.048140
count_rech_3g_8             14.048140
arpu_3g_8                   14.048140
date_of_last_rech_data_8    14.048140
night_pck_user_8            14.048140
arpu_2g_8                   14.048140
fb_user_8                   14.048140
fb_user_6                   13.245132
date_of_last_rech_data_6    13.245132
count_rech_2g_6             13.245132
count_rech_3g_6             13.245132
arpu_3g_6                   13.245132
arpu_2g_6                   13.245132
night_pck_user_6            13.245132
fb_user_7                   12.944129
count_rech_2g_7             12.944129
count_rech_3g_7             12.944129
arpu_3g_7                   12.944129
arpu_2g_7                   12.944129
night_pck_user_7            12.944129
date_of_last_rech_data_7    12.944129
loc_og_t2f_mou_9            1.901019
loc_ic_t2t_mou_9            1.901019
isd_og_mou_9                1.901019
loc_og_t2t_mou_9            1.901019
std_og_mou_9                1.901019
loc_og_t2c_mou_9            1.901019
loc_ic_t2m_mou_9            1.901019
std_ic_t2m_mou_9            1.901019
offnet_mou_9                1.901019
loc_og_t2m_mou_9            1.901019
std_ic_t2t_mou_9            1.901019
std_og_t2f_mou_9            1.901019
std_og_t2m_mou_9            1.901019
loc_og_mou_9                1.901019
og_others_9                 1.901019
std_og_t2t_mou_9            1.901019
ic_others_9                 1.901019
spl_ic_mou_9                1.901019
std_ic_t2f_mou_9            1.901019
loc_ic_mou_9                1.901019
spl_og_mou_9                1.901019
roam_ic_mou_9               1.901019
roam_og_mou_9               1.901019
std_ic_mou_9                1.901019
loc_ic_t2f_mou_9            1.901019
isd_ic_mou_9                1.901019
onnet_mou_9                 1.901019
loc_ic_mou_8                1.174012
spl_og_mou_8                1.174012
std_ic_t2t_mou_8            1.174012
std_og_t2m_mou_8            1.174012
std_og_t2f_mou_8            1.174012
ic_others_8                 1.174012
std_ic_mou_8                1.174012
loc_ic_t2t_mou_8            1.174012
std_ic_t2m_mou_8            1.174012
loc_ic_t2m_mou_8            1.174012
loc_ic_t2f_mou_8            1.174012
std_og_mou_8                1.174012
std_ic_t2f_mou_8            1.174012
isd_og_mou_8                1.174012
isd_ic_mou_8                1.174012
spl_ic_mou_8                1.174012
og_others_8                 1.174012
std_og_t2t_mou_8            1.174012
roam_ic_mou_8               1.174012
loc_og_t2f_mou_8            1.174012
loc_og_t2t_mou_8            1.174012
onnet_mou_8                 1.174012
loc_og_t2c_mou_8            1.174012
roam_og_mou_8               1.174012
loc_og_t2m_mou_8            1.174012
loc_og_mou_8                1.174012
offnet_mou_8                1.174012
date_of_last_rech_9         0.815008
date_of_last_rech_8         0.583006
ic_others_6                 0.545005
std_ic_t2t_mou_6            0.545005
offnet_mou_6                0.545005
spl_og_mou_6                0.545005
roam_og_mou_6               0.545005
spl_ic_mou_6                0.545005
std_ic_mou_6                0.545005
std_ic_t2f_mou_6            0.545005
loc_og_t2m_mou_6            0.545005
std_ic_t2m_mou_6            0.545005
isd_ic_mou_6                0.545005
loc_ic_mou_6                0.545005
loc_og_t2t_mou_6            0.545005
roam_ic_mou_6               0.545005
loc_ic_t2m_mou_6            0.545005
std_og_t2f_mou_6            0.545005
std_og_t2m_mou_6            0.545005
onnet_mou_6                 0.545005
loc_og_t2c_mou_6            0.545005
isd_og_mou_6                0.545005
loc_ic_t2f_mou_6            0.545005
std_og_t2t_mou_6            0.545005
std_og_mou_6                0.545005
loc_og_mou_6                0.545005
loc_og_t2f_mou_6            0.545005
og_others_6                 0.545005
loc_ic_t2t_mou_6            0.545005
og_others_7                 0.537005
std_ic_t2m_mou_7            0.537005
offnet_mou_7                0.537005
std_ic_t2t_mou_7            0.537005
loc_ic_t2t_mou_7            0.537005
loc_ic_t2m_mou_7            0.537005
loc_ic_t2f_mou_7            0.537005
loc_ic_mou_7                0.537005
onnet_mou_7                 0.537005
loc_og_t2t_mou_7            0.537005
roam_ic_mou_7               0.537005
ic_others_7                 0.537005
std_og_t2m_mou_7            0.537005
std_og_t2f_mou_7            0.537005
loc_og_mou_7                0.537005
std_og_mou_7                0.537005
std_ic_t2f_mou_7            0.537005
isd_og_mou_7                0.537005
loc_og_t2f_mou_7            0.537005
loc_og_t2c_mou_7            0.537005
loc_og_t2m_mou_7            0.537005
isd_ic_mou_7                0.537005
spl_ic_mou_7                0.537005
spl_og_mou_7                0.537005
std_og_t2t_mou_7            0.537005
roam_og_mou_7               0.537005
std_ic_mou_7                0.537005
date_of_last_rech_7         0.098001
date_of_last_rech_6         0.073001
arpu_9                      0.000000
arpu_8                      0.000000
arpu_7                      0.000000
arpu_6                      0.000000
gross_mean_amt              0.000000
total_ic_mou_8              0.000000
total_og_mou_6              0.000000
monthly_2g_6                0.000000
sachet_2g_8                 0.000000
sachet_2g_7                 0.000000
sachet_2g_6                 0.000000
monthly_2g_9                0.000000
monthly_2g_8                0.000000
monthly_2g_7                0.000000
vol_3g_mb_9                 0.000000
av_rech_amt_data_9          0.000000
vol_3g_mb_8                 0.000000
vol_3g_mb_7                 0.000000
vol_3g_mb_6                 0.000000
vol_2g_mb_9                 0.000000
vol_2g_mb_8                 0.000000
vol_2g_mb_7                 0.000000
sachet_2g_9                 0.000000
monthly_3g_6                0.000000
monthly_3g_7                0.000000
monthly_3g_8                0.000000
monthly_3g_9                0.000000
sachet_3g_6                 0.000000
sachet_3g_7                 0.000000
sachet_3g_8                 0.000000
sachet_3g_9                 0.000000
aon                         0.000000
aug_vbc_3g                  0.000000
jul_vbc_3g                  0.000000
jun_vbc_3g                  0.000000
sep_vbc_3g                  0.000000
total_rech_amt_data_6       0.000000
total_rech_amt_data_7       0.000000
gross_rech_amt_6            0.000000
vol_2g_mb_6                 0.000000
av_rech_amt_data_8          0.000000
total_og_mou_7              0.000000
total_rech_num_7            0.000000
total_rech_amt_9            0.000000
total_rech_amt_8            0.000000
total_rech_amt_7            0.000000
total_rech_amt_6            0.000000
total_rech_num_9            0.000000
total_rech_num_8            0.000000
total_rech_num_6            0.000000
av_rech_amt_data_7          0.000000
total_ic_mou_9              0.000000
gross_rech_amt_7            0.000000
total_ic_mou_7              0.000000
total_ic_mou_6              0.000000
total_og_mou_9              0.000000
total_og_mou_8              0.000000
max_rech_amt_6              0.000000
max_rech_amt_7              0.000000
max_rech_amt_8              0.000000
max_rech_amt_9              0.000000
last_day_rch_amt_6          0.000000
last_day_rch_amt_7          0.000000
last_day_rch_amt_8          0.000000
last_day_rch_amt_9          0.000000
total_rech_data_6           0.000000
total_rech_data_7           0.000000
total_rech_data_8           0.000000
total_rech_data_9           0.000000
max_rech_data_6             0.000000
max_rech_data_7             0.000000
max_rech_data_8             0.000000
max_rech_data_9             0.000000
av_rech_amt_data_6          0.000000
mobile_number               0.000000
dtype: float64

**Now we have significantly lower missing values in the new dataset**

  mobile_number  av_rech_amt_data_6  av_rech_amt_data_7
0    7000842753               252.0               252.0
1    7001865778                 NaN               154.0
2    7001625959                 NaN                 NaN
3    7001204172                 NaN                 NaN
4    7000142493                56.0                 NaN

In [ ]:
# calculate average
df["avg_rech_good_phase"] = df[col_avg_rech].mean(axis=1)

df[["avg_rech_good_phase"]].head()

   avg_rech_good_phase
0                252.0
1                154.0
2                  NaN
3                  NaN
4                 56.0

In [ ]:
# 70th Percential average rechanre
avg_70th = df[['avg_rech_good_phase']].describe(percentiles=[.7]).T["70%"]
avg_70th

avg_rech_good_phase    221.0
Name: 70%, dtype: float64

In [ ]:
# # 75th Percential average rechanre
avg_70th[0]

221.0

In [ ]:
# get the average value
avg_val = avg_70th[0]
# filter the customers(Numbers)
df2 = df[df['avg_rech_good_phase'] >= avg_val]
df2.shape, df.shape

((9646, 239), (99999, 239))

## Drop fetures for target month

In [ ]:
# all columns ended for month 9
col_mon9 = col_filter(r".+_9$", df)
col_mon9

Index(['arpu_9', 'onnet_mou_9', 'offnet_mou_9', 'roam_ic_mou_9',
       'roam_og_mou_9', 'loc_og_t2t_mou_9', 'loc_og_t2m_mou_9',
       'loc_og_t2f_mou_9', 'loc_og_t2c_mou_9', 'loc_og_mou_9',
       'std_og_t2t_mou_9', 'std_og_t2m_mou_9', 'std_og_t2f_mou_9',
       'std_og_mou_9', 'isd_og_mou_9', 'spl_og_mou_9', 'og_others_9',
       'total_og_mou_9', 'loc_ic_t2t_mou_9', 'loc_ic_t2m_mou_9',
       'loc_ic_t2f_mou_9', 'loc_ic_mou_9', 'std_ic_t2t_mou_9',
       'std_ic_t2m_mou_9', 'std_ic_t2f_mou_9', 'std_ic_mou_9',
       'total_ic_mou_9', 'spl_ic_mou_9', 'isd_ic_mou_9', 'ic_others_9',
       'total_rech_num_9', 'total_rech_amt_9', 'max_rech_amt_9',
       'date_of_last_rech_9', 'last_day_rch_amt_9', 'date_of_last_rech_data_9',
       'total_rech_data_9', 'max_rech_data_9', 'count_rech_2g_9',
       'count_rech_3g_9', 'av_rech_amt_data_9', 'vol_2g_mb_9', 'vol_3g_mb_9',
       'arpu_3g_9', 'arpu_2g_9', 'night_pck_user_9', 'monthly_2g_9',
       'sachet_2g_9', 'monthly_3g_9', 'sachet_3g_9', 'fb_user_9'],
      dtype='object')

In [ ]:
# create new dataframe with the month 9 data to used later
df_mon9 = df[col_mon9]
# clear month 9 data from the main dataftrame
df = df.drop(columns=col_mon9)
df.shape, df_mon9.shape

((99999, 167), (99999, 51))

# EDA

# Modle Building - Churn

## Data Preparation

## Modelling

## Model Assesment

## Summary - Churn

# Modle Building - Best Features

## Data Preparation

## Modelling

## Model Assesment

## Summary - Best Feature

# Summary and Business Decisions